body {
    margin: 0;
    padding: 0;
    min-width: 600px;
    overflow: auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    -webkit-user-select: none;
    font-family: "宋体";
}
.clearfix:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    width: 0;
    height: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    font-size: 0;
}

volume-energy {
    display: inline-block;
}

volume-energy {
	display: inline-block;
}
a {
    text-decoration: none;
    color: #0099FF;
}
a:hover {
    color: #4BB7FF;
}
a:active {
    color: #0074D7;
}
textarea {
    border: none;
    outline: none;
    resize: none;
    font-size: 13px;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.ng-cloak {
    display:none;
}

.hovering {
    cursor: pointer;
}
.pull-right {
    float: right;
}
.display-none {
    display: none;
}

.hidden {
    visibility: hidden;
}

button {
    background: none;
    margin: 0;
    padding: 0;
    border: none;
}

#popupOverlay, .popup-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    overflow: hidden;
    #popupOverlayHeader, .popup-overlay-header{
        height: 50px;
        opacity: 0;
        filter:alpha(opacity=0);
    }
    #popupOverlayContent, .popup-overlay-content{
        padding-bottom: 3000px;
        -moz-opacity: 0;
        background: #D5D5D5;
        opacity: 0.5;
        filter:alpha(opacity=0);
    }
}

.truman-modal-dialog {
    border: 8px solid rgba(165, 216, 255, 0.5);
    position: absolute;
    width: 350px;
    height: 150px;
    background: #FFF;
    z-index: 1000;
    .title {
        font-size: 13px;
        color: #666;
        line-height: 20px;
        text-align: center;
    }
    .leading-title {
        margin: 40px 15px;
    }
    .center-title {
        margin: 67px 15px;
    }
    .left-button {
        position: absolute;
        top: 90px;
        left: 60px;
    }
    .right-button {
        position: absolute;
        top: 90px;
        right: 60px;
    }
    .sole-button {
        margin: 35px auto 0;
    }
    .ok-button {
        width: 100px;
        height: 40px;
        color: #FFF;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
        background: #2AD4AA;
        &:hover {
            background: #11EAB7;
        }
        &:active {
            background: #00B288;
        }
        &.disabled {
            background: #CCC;
        }
    }
    .cancel-button {
        width: 96px;
        height: 36px;
        color: #2BCE9A;
        border: 2px solid #2BCE9A;
        text-align: center;
        line-height: 36px;
        cursor: pointer;
    }
}

input.slide[type=range] {
    -webkit-appearance:none !important;
    width: 100%;
    height: 2px;
    background-color:  #D9D9D9;
    margin: 0;

    &::-webkit-slider-thumb {
        -webkit-appearance:none !important;
        background-color: #3399FF;
        width: 12px;
        height: 12px;
        background: #1491FF;
        border-radius: 6px;

        &:hover {
            background: #006BDA;
        }
    }

    &:focus {
        outline: none;
    }
}

.green-clickable {
    cursor: pointer;
    color: #2AD4AA;
}
.green-clickable:hover {
    color: #11EAB7;
}
.green-clickable:active {
    color: #00B288;
}
.green-clickable[disabled] {
    color: #CCCCCC;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    height: 6px;
    border: 2px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 7px;
    background-color: #E2E2E2;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}
::-webkit-scrollbar-track {
    background: #FFF;
}
.break-all {
    word-wrap: break-word;
    word-break:break-all;
}

.no-break {
    white-space:nowrap;
}

.font-0 {
    font-size: 0;
}
.font-12 {
    font-size: 12px;
}