.view-container {
    position: absolute;
    top: 50px;
    bottom: 0px;
    width: 100%;
    height: auto;
    &.fullscreen {
        top: 0px;
    }
    background: #ededed;
}

.view-frame {
}

.disconnect-wrapper {
    position: absolute;
    display: none;
    width: 100%;
    height: auto;
    top: 50px;
    bottom: 0px;
    background: #EDEDED;
    z-index: 15;
    .reload-button {
        position: absolute;
        top: 50%;
        left: 50%;
        @height: 120px;
        @width: 120px;
        height: @height;
        width: @width;
        margin-top: -@height/2;
        margin-left: -@width/2;
        z-index: 16;
        background: url('../images/reload-keynote.png') no-repeat center center;
        &:hover {
            background: url('../images/reload-keynote-hover.png') no-repeat center center;
        }
        &:active {
            background: url('../images/reload-keynote-clicked.png') no-repeat center center;
        }
    }
    .disconnect-tip {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: 105px;
        width: 200px;
        margin-left: -100px;
        color: #676767;
    }
}
