<div class="grade-stars" ng-class="readOnly?'':'editable'" data-full-star="{{fullStar}}">
	<span class="stars" ng-repeat="star in starArray track by $index"  ng-init="index = $index" ng-class="star" star-index="{{index}}" ng-mouseenter="mouseenter($event)"></span>
</div>