.header-wrapper {
    height: 50px;
    box-shadow:0 2px 1px #B6B6B6;
    position: relative;
    z-index: 3;

    .logo {
        display: inline-block;
        &.teacher {
            width: 216px;
            height: 20px;
            background: url('../images/truman-teacher.png') no-repeat center center;
            margin: 15px 0 0 20px;
        }
        &.admin {
            width: 231px;
            height: 20px;
            background: url('../images/truman-admin.png') no-repeat center center;
            margin: 15px 0 0 20px;
        }
        &.student{
            width: 148px;
            height: 20px;
            background: url('../images/truman.png') no-repeat center center;
            margin: 15px 0 0 20px;
        }
        &.assistant {
            width: 220px;
            height: 20px;
            background: url('../images/truman-assistant.png') no-repeat center center;
            margin: 15px 0 0 20px;
        }
        a {
            display: inline-block;
            width: 100%;
            height: 100%;
        }
    }
    .avatar {
        display: inline-block;
        background: url('../images/avatar.png') no-repeat center center;
        width: 20px;
        height: 20px;
        margin: 15px 5px 15px 0;
    }
    .user-menu-controller {
        display: inline-block;
        background: url('../images/user-menu.png') no-repeat;
        width: 130px;
        height: 21px;
        margin: 15px 50px 15px 0;
        color: #8a8a8a;
        font-size: 12px;
        line-height: 20px;
        padding: 0 12px 0 15px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .user-menu-arrow {
        position: absolute;
        right: 140px;
        top: 56px;
        height: 16px;
        width: 16px;
        z-index: 5;
        background: #EDEDED;
        transform: rotate(45deg);
        -ms-transform: rotate(45deg);       /* IE 9 */
        -webkit-transform: rotate(45deg);   /* Safari and Chrome */
        -o-transform: rotate(45deg);        /* Opera */
        -moz-transform: rotate(45deg);      /* Firefox */
        border-top: #D1D1D1 solid 1px;
        border-left: #D1D1D1 solid 1px;
        &.hover {
            background: #F9F9F9;
        }
    }
    .user-menu {
        position: absolute;
        right: 120px;
        top: 64px;
        z-index: 4;
        color: #747474;
        font-size: 13px;
        li {
            padding: 15px 20px;
            min-width: 80px;
            background: #EDEDED;
            cursor: pointer;
            border-top: 1px #D1D1D1 solid;
            border-right: 1px #D1D1D1 solid;
            border-left: 1px #D1D1D1 solid;
        }
        li:last-child {
            border-bottom: 1px #D1D1D1 solid;
        }
        li:hover {
            background: #F9F9F9;
        }
        li:active {
            background: #D1D1D1;
        }
    }
    .tip-arrow {
        pointer-events: none;
        display: inline-block;
        background: url('../images/tip-arrow.png') no-repeat center center;
        width: 20px;
        height: 20px;
        position: absolute;
        z-index: 2;
        top: 15px;
        right: 130px;
    }
    .window-minimize {
        display: inline-block;
        background: url('../images/window-minimize.png') no-repeat center center;
        &:hover {
            background: url('../images/window-minimize-hover.png') no-repeat center center;
        }
        &:active {
            background: url('../images/window-minimize-focus.png') no-repeat center center;
        }
        width: 20px;
        height: 20px;
        margin: 15px 0;
    }
    .window-maximize {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url('../images/window-maximize.png') no-repeat center center;
        &:hover {
            background: url('../images/window-maximize-hover.png') no-repeat center center;
        }
        &:active {
            background: url('../images/window-maximize-focus.png') no-repeat center center;
        }
        margin: 15px 0;
    }
    .window-restore {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url('../images/window-restore.png') no-repeat center center;
        &:hover {
            background: url('../images/window-restore-hover.png') no-repeat center center;
        }
        &:active {
            background: url('../images/window-restore-focus.png') no-repeat center center;
        }
        margin: 15px 0;
    }
    .window-close {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url('../images/window-close.png') no-repeat center center;
        &:hover {
            background: url('../images/window-close-hover.png') no-repeat center center;
        }
        &:active {
            background: url('../images/window-close-focus.png') no-repeat center center;
        }
        margin: 15px 20px 15px 0;
    }

    .subject-switch {
        padding-left:174px;
        width: 120px;
        padding-top: 4px;
    }
    .subject-drop {
        display: inline-block;
        background: url('../images/opendrop.png') no-repeat center center;
    }

    .subject-menu-arrow {
        position: absolute;
        left: 278px;
        top: 44px;
        height: 16px;
        width: 16px;
        z-index: 5;
        background: #EDEDED;
        transform: rotate(45deg);
        -ms-transform: rotate(45deg);       /* IE 9 */
        -webkit-transform: rotate(45deg);   /* Safari and Chrome */
        -o-transform: rotate(45deg);        /* Opera */
        -moz-transform: rotate(45deg);      /* Firefox */
        border-top: #D1D1D1 solid 1px;
        border-left: #D1D1D1 solid 1px;
        &.hover {
            background: #F9F9F9;
        }
    }
    .subject-menu {
        position: absolute;
        left: 224px;
        top: 52px;
        z-index: 4;
        color: #747474;
        font-size: 13px;
        li {
            padding: 10px 10px;
            min-width: 80px;
            background: #EDEDED;
            cursor: pointer;
            border-top: 1px #D1D1D1 solid;
            border-right: 1px #D1D1D1 solid;
            border-left: 1px #D1D1D1 solid;
        }
        li:last-child {
            border-bottom: 1px #D1D1D1 solid;
        }
        li:hover {
            background: #F9F9F9;
        }
        li:active {
            background: #D1D1D1;
        }

        .subject-item {
            position: relative;
            top: -4px;
            left: 4px;
        }
    }
}
