<div ng-if="!dataLoaded" class="room-loading">
    <p><img src="images/empty.png"></p>
    <p><img src="images/loading-large.gif" alt="loading" /></p>
</div>
<div ng-if="dataLoaded" class="replay-wrapper">
    <div class="replay-ppt-sidebar-wrapper clearfix" ng-class="isFullscreen? 'fullscreen' : ''">
        <div class="replay-ppt-wrapper" ng-class="isFullscreen? 'fullscreen' : ''" ng-include="'component/replayPPT.html'"></div>
        <div class="replay-ppt-zoom button" ng-hide="isFullscreen" ng-click="pptZoomClick()"></div>
        <div class="user-panel-wrapper" ng-hide="isFullscreen" ng-include="'component/replaySidePanel.html'"></div>
    </div>
    <div class="replay-footer-wrapper" ng-include="'component/replayFooter.html'"></div>
</div>
<truman-dialog ng-show="dialog.entering" hide-close-button="true">
    <div class="entering-loading-dialog">
        <p><img src="images/loading-large.gif" alt="loading"/></p>
        <p ng-show="!dialog.reconnecting">正在加载回放数据</p>
        <p ng-show="dialog.reconnecting">网络有点问题，正在重新连接服务器</p>
    </div>
</truman-dialog>

<!--<truman-dialog ng-show="dialog.closedLoading" hide-close-button="true">
    <div class="closed-loading-dialog">
        <p><img src="images/loading-large.gif" alt="loading"/></p>
        <p>正在关闭</p>
    </div>
</truman-dialog>-->
