﻿<div id="update-available">
    <div class="update-available-wrapper" ng-if="required && !isDownloading && !isDownloaded">
        <div class="update-info">当前版本太旧，请先升级！</div>
        <div class="center-button" ng-click="installUpdate();">升级</div>
    </div>
    <div class="update-available-wrapper" ng-if="!required && !isDownloading && !isDownloaded">
        <div class="update-info">{{updateDesc}}</div>
        <div class="action-button left-button" ng-click="installUpdate();">安装</div>
        <div class="action-button right-button" ng-click="skipUpdate();">跳过</div>
    </div>
    <div class="download-progress-wrapper" ng-if="isDownloading && !isDownloaded">
        <div class="hint">正在下载</div>
        <div class="progress-bg-bar">
            <div class="progress-bar" ng-style="{ width: updateProgres}">
            </div>
        </div>
        <div class="progress">{{updateProgres}}</div>
    </div>
    <div class="install-update-wrapper" ng-if="!isDownloading && isDownloaded">
        <div class="hint">已更新完成，点击重启将进入最新版直播课</div>
        <div class="install-button" ng-click="closeProgram();">重启</div>
    </div>
</div>
