.comment-stat {
    color: #666;
    position: relative;
    .comment-block {
        float: left;
        overflow: hidden;
        padding: 0 0 5px;
    }
    .score {
        display: inline-block;
        margin: 0 8px 0 0;
    }
    .common-element {
        float: left;
        overflow: hidden;
        line-height: 20px;
        height: 20px;
    }
    .comment-element {
        .common-element;
        margin: 0 10px 0 0;
    }
    .last-comment-element {
        .common-element;
        &.count-zero {
            margin: 0 10px 0 0;
        }
        &.count-no-zero {
            margin: 0 30px 0 0;
        }
    }
}