.empty-course-list {
    margin: 40px auto;
    width: 920px;

    .desc {
        color: #999;
    }

    .course-list {
        position: relative;
        overflow: hidden;
        margin-top: 20px;

        .course {
            float: left;
            width: 175px;
            margin-right: 40px;
            margin-bottom: 40px;
            cursor: pointer;

            .logo {
                height: 179px;
                width: 175px;
                background-image: url('../images/course-background.png');
                position: relative;
                overflow: hidden;
                p {
                    margin-top: 130px;
                    margin-bottom: 0;
                    font-size: 16px;
                    color: #333;
                    text-align: center;
                }
            }
            .count {
                p {
                    margin: 0;
                    line-height: 55px;
                    text-align: center;
                    color: #999;
                }
                height: 55px;
                border-left: 1px solid #DDD;
                border-right: 1px solid #DDD;
                border-bottom: 1px solid #DDD;
                background: #FFF;
                .episode-count {
                    color: #2DCD9C;
                }
            }
        }
        .course:hover {
            .count {
                border-left: 1px solid #22D5AC;
                border-right: 1px solid #22D5AC;
                border-bottom: 1px solid #22D5AC;
            }
        }
    }
}
