.episode-chat-panel {
    -webkit-user-select: text;
    .online-person {
        -webkit-user-select: none;
        color: #C3C3C3;
        line-height: 30px;
        border-bottom: 1px solid #EDEDED;
        .online-person-value {
            color: #2DCBA0;
            display: inline-block;
            position: relative;
            cursor: default;
            .user-list-wrapper {
                position: absolute;
                left: -30px;
                top: 22px;
            }
            &.teacher:hover {
                color: #00FF00;
            }
        }
    }

    .message-list-wrapper {
        margin-left: 10px;
        position: absolute;
        top: 31px;
        bottom: 100px;
        height: auto;
        width: auto;
        left: 0;
        right: 0;
       .message-list {
            overflow: auto;
            width: 100%;
            height: 100%;
            word-wrap: break-word;
            line-height: 22px;
            cursor: default;
            a {
                text-decoration: underline;
            }
            .load-more {
                text-align: center;
                display: block;
                &.hovering {
                    text-decoration: underline;
                }
            }
            .top-message {
                position: absolute;
                left: 0;
                top: 0;
                right: 10px;
                line-height: 20px;
                padding: 4px 20px 4px 0;
                border-bottom: 1px dashed #E5E5E5;
                z-index: 2;
                background: #FFFFFF;
                opacity: 0;
                .cancel-top-message {
                    background: url('../images/delete-fork.png') no-repeat center;
                    width: 8px;
                    height: 8px;
                    position: absolute;
                    right: 0;
                    top: 10px;
                    cursor: pointer;
                }
                &.teacher {
                    color: #6446B4;
                }
                &.assistant {
                    color: #4995F2;
                }
            }
            .one-chat-message {
                .break-all;

                &.teacher {
                    color: #6446B4;
                }
                &.assistant {
                    color: #4995F2;
                }
                &.student {
                    .chat-message-nickname {
                        color: #88AACC;
                        position: relative;
                        &.student {
                            color: #999999;
                        }
                        .my-nickname {
                            color: #333333;
                        }
                        .ban-hovering:hover {
                            color: #99ccff;
                        }
                    }
                    .chat-message-content {
                        color: #999999;
                        &.my-nickname {
                            color: #333333;
                        }
                    }
                    .ban-unban-chat {
                        cursor: pointer;
                        position: absolute;
                        top: 100%;
                        bottom: auto;
                        left: 10px;
                        width: 80px;
                        height: 30px;
                        color: #29D4AA;
                        z-index: 1;
                        border: 1px #D4D4D4 solid;
                        &.top-of-nickname {
                            top: auto;
                            bottom: 100%;
                        }
                        span {
                            display: inline-block;
                            width: 100%;
                            height: 100%;
                            background: #EDEDED;
                            line-height: 30px;
                            text-align: center;
                            &:hover {
                                background: #F9F9F9;
                            }
                            &:active {
                                background: #D1D1D1;
                            }
                        }
                    }
                }
            }
        }
        .has-new-message {
            position: absolute;
            right: 0;
            bottom: 0;
            height: 32px;
            width: 70px;
            color: #29D4AA;
            cursor: pointer;
            .has-new-message-content {
                position: absolute;
                top: 0;
                left: 0;
                width: 70px;
                height: 25px;
                line-height: 25px;
                text-align: center;
                background: #F8F8F8;
                z-index: 2;
                text-align: center;
            }
            .has-new-message-arrow {
                position: absolute;
                top: 18px;
                left: 29px;
                height: 12px;
                width: 12px;
                background: #F8F8F8;
                -webkit-transform: rotate(45deg);
                z-index: 1;
            }
        }
    }

    .chat-bottom {
        position: absolute;
        bottom: 10px;

        .send-message-info {
            line-height: 30px;
            color: #C9C9C9;
            border-top: 1px solid #EDEDED;
            .nickname {
                color: #666666;
                display: inline-block;
                float: left;
            }
            .set-banned {
                float: right;
                margin-left: 15px;
                .chat-banned {
                    cursor: pointer;
                    display: inline-block;
                    background: url('../images/chat-pinned.png') no-repeat center;
                    width: 10px;
                    height: 10px;
                }
                .chat-not-banned {
                    cursor: pointer;
                    display: inline-block;
                    background: url('../images/chat-not-pinned.png') no-repeat center;
                    width: 10px;
                    height: 10px;
                }
            }

            .set-pinned {
                float: right;
                margin-left: 15px;
                .chat-pinned {
                    cursor: pointer;
                    display: inline-block;
                    background: url('../images/chat-pinned.png') no-repeat center;
                    width: 10px;
                    height: 10px;
                }
                .chat-not-pinned {
                    cursor: pointer;
                    display: inline-block;
                    background: url('../images/chat-not-pinned.png') no-repeat center;
                    width: 10px;
                    height: 10px;
                }
            }

            .send-fast {
                position: absolute;
                right: 58px;
                color: #D62007;
            }
            .message-words-number {
                display: inline-block;
                float: right;
            }
        }
        .send-message-input-wrapper {
            .send-message-input {
                float: left;
                background: #F8F8F8;
                width: 157px;
                margin-right: 2px;
                height: 30px;
                line-height: 28px;
                &.disabled {
                    color: #DEDEDE;
                }
            }
            .send-message-confirm {
                float: right;
                width: 45px;
                height: 30px;
                background: url('../images/message-input.png') #F8F8F8 no-repeat center center;
                &[disabled="disabled"], &[disabled] {
                    background: url('../images/message-input-disabled.png') #F8F8F8 no-repeat center;
                }
            }
        }
    }

}
