.episode-ppt-wrapper {
    box-shadow: 0 3px 3px #E2E2E2;

    .ppt-title-wrapper {
        height: 40px;
        background: #F9F9F9;
        font-size: 12px;
        line-height: 40px;
        padding-left: 10px;
        .muted {
            color: #999999;
        }
        .title {
            float: left;
        }
        .comment {
            float: left;
            margin: 10px 20px;
        }

        .singal-prompt {
            color: #D62007;
            float: right;
            margin-right: 18px;
        }

        .singal-bar {
            float: right;
            display: inline-block;
            width: 50px;
            height: 24px;
            margin-top: 6px;
        }
    }

    .ppt-panel-wrapper {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 40px;
        bottom: 40px;
        height: auto;
        border-top: 1px #DBDBDB solid;
        border-bottom: 1px #DBDBDB solid;
        background: #DBDBDB;
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
        .ppt-content-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
        }
        .video-side-wrapper {
            flex: none;
            width: 120px;
            height: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            .video-teacher-wrapper {
                width: 120px;
                height: 90px;
                #video-teacher {
                    border: 2px solid white;
                    overflow: hidden;
                }
            }
            .video-student-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                .video-student {
                    height: 90px;
                    width: 120px;
                    margin-top: 10px;
                }
            }
        }
        .keynote-content-wrapper {
            width: 100%;
            height: 100%;
            display: -webkit-box;
            background: #FFFFFF;
            -webkit-box-orient: vertical;
            -webkit-box-pack: center;
            -webkit-box-align: center;

            #keynote-content {
                display: block;
            }

            .keynote-placeholder {
                text-align: center;
                .title {
                    margin: 116px auto 30px;
                    color: #333;
                    font-size: 30px;
                }
                .teacher {
                    margin: 0 auto 75px;
                    color: #666;
                    font-size: 18px;
                }
                .time {
                    margin: 0 auto 20px;
                    color: #999;
                    font-size: 14px;
                }
                .logo {
                    margin: 0 auto;
                    background: url('../images/truman.png') no-repeat center center;
                    width: 252px;
                    height: 32px;
                }
            }
        }
        .keynote-sketch {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 5;
            .keynote-sketch-stroke,
            .video-center {
                position: absolute;
                top: 0px;
                left: 5px;
                right: 5px;
                bottom: 0px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-box-pack: center;
                -webkit-box-align: center;

                #video {
                    display: block;
                }

                #stroke {
                    display: block;
                }
            }

            .keynote-sketch-temp-stroke {
                position: absolute;
                top: 0px;
                left: 5px;
                right: 5px;
                bottom: 0px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-box-pack: center;
                -webkit-box-align: center;
                #temp-stroke {
                    display: block;

                    &.drawable {
                        cursor: url('../images/pens/30.png');
                    }
                }
            }
        }

        .quiz-mask {
            position: absolute;
            height: 100%;
            width: 100%;
            margin: auto;
            top: 0;
            left: 0;
            z-index: 9; //background: rgba(255, 255, 255, 0.5);
            display: -webkit-box;
            -webkit-box-orient: horizontal;
            -webkit-box-pack: center;
            -webkit-box-align: center;
        }        

        .unstart-mask {
            position: absolute;
            height: 100%;
            width: 100%;
            margin: auto;
            top: 0;
            left: 0;
            pointer-events: none;
            z-index: 10;
            background: rgba(255, 255, 255, 0.9);
        }
        .loading {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 11;
            margin-left: -30px;
            margin-top: -30px;
        }
        .upload-progress-wrapper {
            z-index: 11;
            position: absolute;
            top: 70%;
            left: 50%;
            @width: 500px;
            width: @width;
            margin-left: -@width/2;
            font-size: 12px;
            line-height: 12px;
            text-align: center;
            .hint {
                color: #666;
            }
            .progress-bg-bar {
                display: inline-block;
                position: relative;
                width: 214px;
                height: 10px;
                background: #EFEFEF;
                margin: 0 10px;
            }
            .progress-bar {
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                background: #37C7A1;
            }
            .progress {
                color: #3DCB9A;
            }
        }
        .start-class-button {
            position: absolute;
            top: 50%;
            left: 50%;
            @height: 124px;
            @width: 127px;
            height: @height;
            width: @width;
            margin-top: -@height/2;
            margin-left: -@width/2;
            background: url('../images/big-play.png') no-repeat center center;
            z-index: 11;
            &.hovering {
                background: url('../images/big-play-focus.png') no-repeat center center;
            }
        }
        .reload-ppt-tip {
            position: absolute;
            top: 50%;
            left: 50%;
            @height: 30px;
            @width: 300px;
            height: @height;
            width: @width;
            line-height: 30px;
            margin-top: 90px;
            margin-left: -@width/2;
            text-align: center;
            color: rgb(102, 100, 96);
            z-index: 11;
        }
        .reload-ppt-button {
            position: absolute;
            top: 50%;
            left: 50%;
            @height: 120px;
            @width: 120px;
            height: @height;
            width: @width;
            margin-top: -@height/2;
            margin-left: -@width/2;
            background: url('../images/reload-keynote.png') no-repeat center center;
            z-index: 11;
            &:hover {
                background: url('../images/reload-keynote-hover.png') no-repeat center center;
            }
            &:active {
                background: url('../images/reload-keynote-clicked.png') no-repeat center center;
            }
        }
    }
    .ppt-controller-wrapper {
        height: 40px;
        background: #F9F9F9;
        padding: 1px 0 0;
        position: absolute;
        width: auto;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 5;
        .upload-ppt {
            display: inline-block;
            width: 30px;
            height: 28px;
            background: url('../images/folder.png') no-repeat;
            cursor: pointer;
            &:hover {
                background: url('../images/folder-hover.png') no-repeat;
            }
            &:active {
                background: url('../images/folder-focus.png') no-repeat;
            }
            &.disabled {
                cursor: default;
                background: url('../images/folder-disable.png') no-repeat;
            }
            margin: 6px 0 6px 12px;
        }
        .ppt-switch {
            display: inline-block;
            width: 28px;
            height: 28px;
            background: url('../images/ppt-switch.png');
            cursor: pointer;
            &:hover {
                background: url('../images/ppt-switch-hover.png');
            }
            &:active {
                background: url('../images/ppt-switch-click.png');
            }
            &.disabled {
                background: url('../images/ppt-switch-disabled.png');
            }
            margin: 6px 0 6px 12px;
        }

          .question {
            display: inline-block;
            width: 28px;
            height: 28px;
            background: url('../images/quiz-normal.png');
            cursor: pointer;
            &:hover {
                background: url('../images/quiz-hover.png');
            }
            &:active {
                background: url('../images/quiz-click.png');
            }
            &.disabled {
                background: url('../images/quiz-disabled.png');
            }
            margin: 6px 0 6px 12px;
        }

        #keynote-to-upload {
            width: 0;
            height: 0;
            padding: 0;
            margin: 0;
        }
        .upload-hint {
            width: 130px;
            padding: 5px;
            position: absolute;
            top: 0px;
            left: 155px;
            font-size: 12px;
            z-index: 15;
            background: #FFF;
            border: 1px solid lightgray;
            background-color: rgb(240, 240, 240);
            border-radius: 5px;
        }
        .clear-screen {
            width: 29px;
            height: 28px;
            margin: 6px 0 6px 12px;
            display: inline-block;
            background: url('../images/clear-screen.png') no-repeat;
            &.disabled {
                background: url('../images/clear-screen-disabled.png') no-repeat;
            }
            &:hover {
                background: url('../images/clear-screen-hover.png') no-repeat;
            }
            &:active {
                background: url('../images/clear-screen-focus.png') no-repeat;
            }
        }

        .sel-pen {
            width: 30px;
            height: 28px;
            margin: 6px 0 6px 12px;
            display: inline-block;
            background: url('../images/sel-pen.png') no-repeat;
            &.disabled {
                background: url('../images/sel-pen-disabled.png') no-repeat;
            }
            &:hover {
                background: url('../images/sel-pen-hover.png') no-repeat;
            }
            &:active {
                background: url('../images/sel-pen-focus.png') no-repeat;
            }
        }

        .swt-video {
            width: 30px;
            height: 28px;
            margin: 6px 0px;
            display: inline-block;
            background: url('../images/switch-video-normal.png') no-repeat;
            &.disabled {
                background: url('../images/mic-timer-disabled.png') no-repeat;
            }
            &:hover {
                background: url('../images/switch-video-focus.png') no-repeat;
            }
            &:active {
                background: url('../images/switch-video-pushed.png') no-repeat;
            }
        }

        .stroke-setting {
            display: inline-block;
            position: relative;
            padding: 2px 10px 4px 10px;
            top: -50px;
            left: -160px;
            border: solid #EDEDED 1px;
            border-radius: 3px;
            background: #FFFFFF;

            span {
                color: #808080;
                font-size: 13px;
                line-height: 13px;
            }
        }



        .ppt-controller-group {
            position: absolute;
            left: 50%;
            top: 5px;
            width: 230px;
            margin-left: -115px;

            .ppt-backward {
                display: inline-block;
                position: absolute;
                left: 65px;
                top: 1px;
                width: 28px;
                height: 28px;
                background: url('../images/backward.png') no-repeat center;
                &.disabled {
                    background: url('../images/backward-disabled.png') no-repeat center;
                    &:hover {
                        background: url('../images/backward-disabled.png') no-repeat center;
                    }
                    &:active {
                        background: url('../images/backward-disabled.png') no-repeat center;
                    }
                }
                &:hover {
                    background: url('../images/backward-hover.png') no-repeat center;
                }
                &:active {
                    background: url('../images/backward-active.png') no-repeat center;
                }
            }
            .ppt-page-number {
                position: absolute;
                top: 0;
                display: inline-block;
                line-height: 30px;
                font-size: 14px;
                text-align: center;
                &.teacher {
                    width: 100px;
                    left: 92px;
                    color: #999999;
                    input {
                        width: 40px;
                        border: 1px solid #E3E3E3;
                        text-align: center;
                        outline: none;
                        &:focus {
                            border: 1px solid #37D3AB;
                        }
                    }
                }
                &.student {
                    width: 110px;
                    left: 60px;
                    color: #37D3AB;
                    font-weight: 600;
                }
            }
            .ppt-forward {
                display: inline-block;
                position: absolute;
                left: 190px;
                top: 1px;
                width: 28px;
                height: 28px;
                background: url('../images/forward.png') no-repeat center;
                &.disabled {
                    background: url('../images/forward-disabled.png') no-repeat center;
                    &:hover {
                        background: url('../images/forward-disabled.png') no-repeat center;
                    }
                    &:active {
                        background: url('../images/forward-disabled.png') no-repeat center;
                    }
                }
                &:hover {
                    background: url('../images/forward-hover.png') no-repeat center;
                }
                &:active {
                    background: url('../images/forward-active.png') no-repeat center;
                }
            }
        }
        .maximize-ppt {
            display: inline-block;
            width: 17px;
            height: 16px;
            background: url('../images/full-screen.png') no-repeat;
            &:hover {
                background: url('../images/full-screen-hover.png') no-repeat;
            }
            &:active {
                background: url('../images/full-screen-focus.png') no-repeat;
            }
            &.fullscreen {
                background: url('../images/exit-full-screen.png') no-repeat;
                &:hover {
                    background: url('../images/exit-full-screen-hover.png') no-repeat;
                }
                &:active {
                    background: url('../images/exit-full-screen-focus.png') no-repeat;
                }
            }
            position: absolute;
            right: 10px;
            top: 12px;
        }
    }
}