.episode-user-panel {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;

    .teacher-video {
        //width: 100%;
        height: 202px;
        box-sizing: border-box;
        padding: 3px 3px 3px;
        box-shadow: 0 3px 3px #E2E2E2;
        background-color: #FFFFFF;
        flex: none;
    }

    .old-right-panel {
        width: 100%;
        //height: 100%;
        padding: 0;
        overflow: auto;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .chat-panel-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        //top: 59px;
        bottom: 0px;
        left: 0px;
        min-height: 60px;
        box-sizing: border-box;
        padding: 0 10px 10px;
        background: #FFFFFF;
        box-shadow: 0 3px 3px #E2E2E2;
        box-sizing: border-box;
    }

    .microphone-queue-wrapper {
        //height: 60px;
        flex: none;
    }
    &.microphone-queue-open {
        .microphone-queue-wrapper {
            //height: 194px;
            min-height: 90px;
        }

        .chat-panel-wrapper {
            top: 0px;
        }
    }
    &.assistant-on-board {
        .microphone-queue-wrapper {
            height: 85px;
        }

        .chat-panel-wrapper {
            top: 85px;
        }
    }
    &.microphone-queue-open.assistant-on-board {
        .microphone-queue-wrapper {
            height: 220px;
        }

        .chat-panel-wrapper {
            top: 222px;
        }
    }
}
