<div id="episodePPT" class="episode-ppt-wrapper" ng-class="isFullscreen? 'fullscreen' : '' " ng-controller="EpisodeKeynoteCtrl">
    <div class="ppt-title-wrapper">
        <a class="button" ng-click="backToList();">返回</a>

        <span class="muted">|&nbsp;&nbsp;</span>
        <span class="topic muted">{{episode.title}}</span>
        <a href  ng-if="episode.materialId" ng-click="downloadMaterial(episode.materialId)">&nbsp;&nbsp;(下载讲义)</a>

        <span class="singal-bar" title="当前网络与服务器之间的网络连接状态" ng-show="!isStudent">
           <truman-singal max-singal="5" current-singal="networkStatus"></truman-singal>
        </span>

        <span class="singal-prompt">{{singalPrompt}}</span>

        <truman-dialog ng-show="dialog.netWorkWeak" on-close="hideNetworkDialog()">
            <div ><br/>网络不稳定，请调整课程安排，联系运营解决<br/></div>
        </truman-dialog>

    </div>
    <div class="ppt-panel-wrapper">
        <div class="ppt-content-wrapper">
            <div class="keynote-content-wrapper">
                <canvas ng-show="keynote && (isClassStarted || isTeacher)" id="keynote-content" width="0" height="0"></canvas>
                <div class="keynote-placeholder" ng-if="(!isClassStarted && !isTeacher) || (isTeacher && !keynote)">
                    <div class="title">{{episodeTitle}}</div>
                    <div class="teacher">{{teacherName}}</div>
                    <div class="time">上课时间：{{timeRangeStr}}</div>
                    <div class="logo"></div>
                </div>
            </div>

            <div class="keynote-sketch" ng-show="keynoteLoaded && (isClassStarted || isTeacher) && (isTeacherVideoOpen || videoNum > 0 && isVideoMicOpen) && showLargeVideo">
                <video-panel eventname='"room.video.center"' nickname='largeVideoNickname' max-volume= '12' userid='"center"' large-uid='largeUid' current-volume='currentVolume' width='640' height='480' ng-show='largeUid' countdown='countdown'></video-panel>
            </div>
            <div class="keynote-sketch" ng-show="keynoteLoaded && (isClassStarted || isTeacher) && (largeUid <= 0 || !showLargeVideo)" ng-controller="EpisodeSketchCtrl">
                <div class="keynote-sketch-stroke">
                    <canvas id="stroke" width="0" height="0" ></canvas>
                </div>
                <div class="keynote-sketch-temp-stroke">
                    <canvas id="temp-stroke" width="0" height="0" ng-class="isTeacher?'drawable':''"></canvas>
                </div>
            </div>            
            
            <!-- start  直播互动弹框 -->            
            <div class="quiz-mask" ng-show="questionMask">                
                <div ng-include="questionTpl.contentUrl"></div>
            </div>

            <div class="unstart-mask" ng-show="!isClassStarted || keynoteRenderFail || keynoteLoadFail || keynoteConverting">
            </div>
            <img class="loading" ng-show="keynoteConverting" src="../images/loading-large.gif"/>
            <div class="upload-progress-wrapper" ng-if="downloadStatusString.length > 0 && isClassStarted && !keynoteLoadFail">
                <span class="hint">正在下载课件</span>
                <div class="progress-bg-bar">
                    <div class="progress-bar" ng-style="{ width: downloadStatusString}">
                    </div>
                </div>
                <span class="progress">{{downloadStatusString}}</span>
            </div>
            <div class="upload-progress-wrapper" ng-if="uploadStatusString.length > 0">
                <span class="hint">正在上传</span>
                <div class="progress-bg-bar">
                    <div class="progress-bar" ng-style="{ width: uploadStatusString}">
                    </div>
                </div>
                <span class="progress">{{uploadStatusString}}</span>
            </div>
            <div class="start-class-button button" ng-click="startClass();" ng-show="!isClassStarted && isTeacher && !keynoteConverting"></div>
            <div class="reload-ppt-button button" ng-click="loadKeynote();" ng-show="keynoteLoadFail && isClassStarted"></div>
            <div class="reload-ppt-button button" ng-click="renderKeynote();" ng-show="keynoteRenderFail && isClassStarted"></div>
            <div class="reload-ppt-tip" ng-show=" (keynoteRenderFail || keynoteLoadFail) && isClassStarted">
                课件加载出现了点问题，点击刷新重试。
            </div>
        </div>
        <div class="video-side-wrapper" ng-show="keynoteLoaded && (isClassStarted || isTeacher) && (isTeacherVideoOpen || videoNum > 0 && isVideoMicOpen)">
            <div class="video-teacher-wrapper">
                <div id="video-teacher" ng-show="isTeacherVideoOpen">
                    <video-panel nickname='teacherList[0].nickName' eventname='"room.video.event.20"' switchable='true && isTeacher' is-teacher='true' isvideoopen='true'userid='teacherList[0].userId' large-uid='largeUid' current-volume='' width='120' height='90'></video-panel>
                </div>
            </div>
            <div class="video-student-wrapper">
                <div class="video-student" ng-show="videoNum > 0 && isVideoMicOpen">
                    <video-panel nickname='microphoneList[0].nickName' eventname='"room.video.event.0"' switchable='true && isTeacher' isvideoopen='microphoneList[0].isVideoOpen' userid='microphoneList[0].userId' large-uid='largeUid' current-volume='' width='120' height='90'></video-panel>
                </div>
                <div class="video-student" ng-show="videoNum > 1 && isVideoMicOpen">
                    <video-panel nickname='microphoneList[1].nickName' eventname='"room.video.event.1"' switchable='false' isvideoopen='microphoneList[1].isVideoOpen' userid='microphoneList[1].userId' large-uid='largeUid' current-volume='' width='120' height='90'></video-panel>
                </div>
                <div class="video-student" ng-show="videoNum > 2 && isVideoMicOpen">
                    <video-panel nickname='microphoneList[2].nickName' eventname='"room.video.event.2"' switchable='false' isvideoopen='microphoneList[2].isVideoOpen' userid='microphoneList[2].userId' large-uid='largeUid' current-volume='' width='120' height='90'></video-panel>
                </div>
            </div>
        </div>
    </div>
    <div class="ppt-controller-wrapper">

        <div class="clear-screen button"  ng-click="erase()"  ng-show="isTeacher"></div>
        <div class="sel-pen button"  ng-click="switchStoke()"  ng-show="isTeacher"></div>
        <div class="upload-ppt truman-popout" ng-class="isClassStarted? 'disabled':''" ng-show="isTeacher" popout-index="10" ng-click="uploadKeynote()"></div>
        <div class='question' ng-class='questionMask?"disabled": ""' ng-click="addQuestion()" ng-show='isTeacher'></div>
        <div class='ppt-switch' ng-class='!(isTeacherVideoOpen || videoNum > 0 && isVideoMicOpen) || largeUid === 0?"disabled": ""' ng-click="switchVideoPPT()" ng-show='!isTeacher'></div>
        <input type="file" id="keynote-to-upload" ng-file-select="onFileSelect($files)" ng-disabled="isClassStarted" accept="application/pdf" />
        <div id="popout_10" class="upload-hint display-none">
            课件只支持PDF格式，最大10M，开课后无法上传和更换课件
        </div>

        <div class="stroke-setting" ng-show="showStokeSetting">
            <span>颜色</span>
            <div class="select_box"  id="sel_color" style="position: relative; top: -2px;">
                <div>
                    <div class="tri"><div class="triangle"></div></div>
                    <div class="input_box" ></div>
                </div>
                <ul class="select_ul">
                    <li><div style="background:#ff2200;">&nbsp;</div></li>
                    <li><div style="background:#0077ff;">&nbsp;</div></li>
                    <li><div style="background:#333333;">&nbsp;</div></li>
                </ul>
            </div>

            <span>粗细</span>
            <div class="select_box" id="sel_width" style="position: relative; top: 3px;">
                <div>
                    <div class="tri"><div class="triangle"></div></div>
                    <div class="input_box" ></div>
                </div>
                <ul class="select_ul">
                    <li>
                        <div style="height:10px;">
                            <div style="height: 1px; background: #979797; margin-top: 6px" />
                        </div>
                    </li>

                    <li>
                        <div style="height:10px;">
                            <div style="height: 3px; background: #979797; margin-top: 5px" />
                        </div>
                    </li>

                    <li>
                        <div style="height:10px;">
                            <div style="height: 5px; background: #979797; margin-top: 4px" />
                        </div>
                    </li>
                </ul>
            </div>
        </div>



        <div class="ppt-controller-group">
            <div class="ppt-backward button" ng-class="keynote.currentPageIndex <= 0? 'disabled':''" ng-show="keynoteLoaded && isTeacher" ng-click="prevPage()" alt="上一页"></div>
            <div class="ppt-page-number" ng-class="{true: 'teacher', false: 'student'}[isTeacher]" ng-show="keynoteLoaded">
                <div ng-if="!isTeacher">
                    {{keynote.currentPageIndex + 1}} / {{keynote.totalPageNum}}
                </div>
                <div ng-if="isTeacher">
                    <input class="current-page-number" type="text" number-min="1" number-max="{{keynote.totalPageNum}}"  ng-model="pageNumber" truman-number ng-blur="onPageNumberBlur(pageNumber);" ng-keyup="onPageNumberKeyup($event, pageNumber);"/>
                    <span>&nbsp;/&nbsp;</span>
                    <span>{{keynote.totalPageNum}}</span>
                </div>
            </div>


            <div class="ppt-forward button"  ng-class="(keynote.currentPageIndex >= keynote.totalPageNum - 1)? 'disabled':''" ng-show="keynoteLoaded && isTeacher" ng-click="nextPage()"></div>
        </div>
        <div class="maximize-ppt button" ng-class="isFullscreen? 'fullscreen' : ''" ng-click="fullScreen()"></div>
    </div>
</div>