.episode-footer {
    height: 50px;
    background: #2ACE9A;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;

    .settings {
        float: left;
        display: block;
        background: url('../images/settings.png') no-repeat center center;
        width: 27px;
        height: 50px;
        margin: 0 0 0 20px;
        &.hovering,&.clicked {
            background: url('../images/settings-focus.png') no-repeat center center;
        }
    }

    .microphone {
        float: left;
        display: block;
        background: url('../images/microphone.png') no-repeat center center;
        width: 40px;
        height: 50px;
        margin: 0 0 0 10px;

        &.hovering,&.clicked {
            background: url('../images/microphone-focus.png') no-repeat center center;
        }

        &.mute {
            background: url('../images/microphone-mute.png') no-repeat center center;
        }
    }

    .clock {
        float: left;
        display: block;
        background: url('../images/clock-normal.png') no-repeat center center;
        width: 40px;
        height: 50px;
        margin: 0 0 0 15px;

        &.hovering,&.clicked {
            background: url('../images/clock-pushed.png') no-repeat center center;
        }
    }

    .mic_timer_ipt {
        width: 40px;
        margin-right: 4px;
        margin-top: 5px;
    }


    .mic-setting {
        display: inline-block;
        position: relative;
        padding: 2px 10px 4px 10px;
        top: -20px;
        left: -70px;
        border: solid #EDEDED 1px;
        border-radius: 3px;
        background: #FFFFFF;

        font-family:STHeitiSC-Light;
        font-size:13px;
        color:#808080;
        letter-spacing:-0.32px;
        text-align:center;

        span {
            color: #808080;
            font-size: 13px;
            line-height: 13px;
        }
    }

    .camera {
        float: left;
        display: block;
        background: url('../images/camera-close.png') no-repeat center center;
        width: 40px;
        height: 50px;
        margin: 0 0 0 20px;

        &.hovering,&.clicked {
            background: url('../images/settings-focus.png') no-repeat center center;
        }


        &.hovering,&.clicked {
            background: url('../images/camera-focus.png') no-repeat center center;
        }
        &.mute {
            background: url('../images/camera-open.png') no-repeat center center;
        }
    }

    .bugle {
        float: left;
        display: block;
        background: url('../images/bugle.png') no-repeat center center;
        width: 27px;
        height: 50px;
        margin: 0 0 0 45px;
        &.hovering,&.clicked {
            background: url('../images/bugle-focus.png') no-repeat center center;
        }
        &.mute {
            background: url('../images/bugle-mute.png') no-repeat center center;
        }
    }
    .microphone-setting {
        position: absolute;
        bottom: 45px;
        left: 105px;
        z-index: 20;
        -webkit-transform: rotate(-90deg);
        -webkit-transform-origin-x: 0%;
        -webkit-transform-origin-y: 50%;

        .slide::-webkit-slider-thumb {
            background: #2AD4AA;

            &:hover {
                background: #00B288;
            }
        }

    }
    .bugle-setting {
        position: absolute;
        bottom: 45px;
        left: 175px;
        z-index: 20;
        -webkit-transform: rotate(-90deg);
        -webkit-transform-origin-x: 0%;
        -webkit-transform-origin-y: 50%;

        .slide::-webkit-slider-thumb {
            background: #2AD4AA;

            &:hover {
                background: #00B288;
            }
        }
    }
    .volume-setting-bg {
        width: 115px;
        height: 2px;
        border-radius: 14px;
        border: 14px solid rgba(191, 242, 229, 0.9);
    }

    .finish-class {
        position: absolute;
        top: 0px;
        right: 160px;
        height: 30px;
        width: 60px;
        margin: 10px 3px;
        background: url('../images/finish-class.png') no-repeat;
        &.hovering {
            background: url('../images/finish-class-hover.png') no-repeat;
        }
        &.clicked {
            background: url('../images/finish-class-focus.png') no-repeat;
        }
    }

    .net-static {
        position: absolute;
        top: 0px;
        right: 240px;
        font-size: 12px;
        line-height: 50px;
        height: 50px;
        font-size: 12px;
        color: #A5F1DC;
    }

    .class-timer {
        position: absolute;
        top: 0px;
        right: 30px;
        font-size: 12px;
        line-height: 50px;
        height: 50px;
        color: #A5F1DC;
        .normal-time {
            display: inline-block;
            margin: 0 0 0 5px;
            font-size: 16px;
            color: #FFF;
        }
        .overtime {
            display: inline-block;
            font-size: 10px;
            line-height: 10px;
            position: absolute;
            top: 5px;
            right: 0px;
            color: #179776;
        }
    }

    .color-sel {
        display: inline;
        pointer-events:auto;

        select{
            border: solid 1px #ccc;
            appearance: none;/*清除select下拉框默认样式*/
            -moz-appearance: none;
            -webkit-appearance: none;
            padding-right: 18px;/*为下拉小箭头留出一点位置，避免被文字覆盖*/
        }
    }

    .color-sel::after {
        content:"";
        pointer-events:auto;
        position: relative;
        top: 10px;
        left: -20px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: #999999 transparent transparent transparent;
    }
}
