<div class="episode-user-panel" ng-class="{'microphone-queue-open':isMicrophoneQueueOpen, 'assistant-on-board':isAssistantOnBoard}" ng-controller="EpisodeMicrophoneQueueCtrl" >
    <!-- <div class="teacher-video" ng-show="isTeacherVideoOpen">
        <canvas id="video-teacher"  width="264" height="198" ></canvas>
    </div> -->
    <div class="old-right-panel" >
        <div id="microphone-queue-wrapper" class="microphone-queue-wrapper" ng-include="'component/episodeMicrophoneQueue.html'"></div>
        <div class="chat-panel-wrapper" id="chat-panel-wrapper" ng-include="'component/episodeChat.html'"></div>
    </div>
</div>
