.microphone-queue-wrapper {
    .episode-platform-wrapper {
        background: #FFFFFF;
        line-height: 26px;
        color: #C3C3C3;
        font-size: 13px;
        position: relative;
        padding: 0;

        .grid {
            padding: 0 10px;
            border-bottom: 2px solid #ededed;
            display: flex;

            .fluid {
                flex: 1;
            }

            .fixed {
                margin-left: 10px;
                margin-right: 10px;
                border-left: 1px solid #ededed;
            }
        }

        .label-switch {
            display: flex;
            flex-direction: row;

            .label {
                width: 100%;
            }

            .switch-button {
                width: 34px;
                flex: none;

                .switch-button-bg {
                    width: 31px;
                    border: 2px solid #E7E7E7;
                    height: 10px;
                    border-radius: 6px;
                    position: relative;
                    top:6px;

                    &.switch-off {
                        background: url('../images/microphone-queue-off.png') no-repeat center center;
                    }
                    &.switch-off:hover {
                        background: url('../images/microphone-queue-off-hover.png') no-repeat center center;
                    }
                    &.switch-on {
                        background: url('../images/microphone-queue-on.png') no-repeat center center;
                    }
                    &.switch-on:hover {
                        background: url('../images/microphone-queue-on-hover.png') no-repeat center center;
                    }
                }
            }
        }

        .title-wrapper {
            position: relative;
            line-height: 30px;
            border-bottom: 1px #EDEDED solid;
           .switch-button-tip {
                //position: absolute;
                top: 0;
                right: 53px;
            }
            .switch-button {
                position: absolute;
                top: 8px;
                right: 2px;
                .switch-button-bg {
                    width: 31px;
                    border: 2px solid #E7E7E7;
                    height: 10px;
                    border-radius: 6px;
                    position: relative;
                    &.switch-off {
                        background: url('../images/microphone-queue-off.png') no-repeat center center;
                    }
                    &.switch-off:hover {
                        background: url('../images/microphone-queue-off-hover.png') no-repeat center center;
                    }
                    &.switch-on {
                        background: url('../images/microphone-queue-on.png') no-repeat center center;
                    }
                    &.switch-on:hover {
                        background: url('../images/microphone-queue-on-hover.png') no-repeat center center;
                    }
                }
            }
            .assistant-on-off-board {
                position: absolute;
                top: 0;
                right: 10px;
                .assistant-on-board-disabled {
                    color: #D1D1D1;
                }
                .already-on-board {
                    color: #C3C3C3;
                }
                .assistant-on-board,.assistant-off-board {
                    color: #50D9B2;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
    }

        .teacher-volume-wrapper {
            padding: 0 10px;
            border-bottom: 2px solid #ededed;
            .teacher-name {
                max-width: 100px;
                text-overflow:ellipsis;
                overflow: hidden;
                white-space: nowrap;
                display: inline-block;
            }
            
            .teacher-in-class {
                color: #9966FF;
            }
            img {
                margin-top: 8px;
                float: right;
            }
        }

        .assistant-volume-energy {
            color: #74D0FD;
            .assistant-name {
                max-width: 100px;
                text-overflow:ellipsis;
                margin-right: 15px;
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
            }
            .assistant-volume-energy {
                vertical-align: middle;
                margin-top: -3px;
            }
        }
    }

    .microphone-sequence-queue {
        background-color: #FFFFFF;
        padding: 0 10px 10px 10px;
        max-height: 135px;
        margin: 2px 0;
        border-bottom: 2px solid #ededed;
        .sequence-header {
            height: 30px;
            width: 100%;
            line-height: 30px;
            color: #C3C3C3;
            border-bottom: 1px solid #ededed;
            display: inline-block;
            position: relative;
            .title {
                display: inline-block;
            }

            .mic-clock {
                //display: inline-block;
                //float: right;
                //margin-right: 4px;
                line-height: 16px;
                margin-top: 6px;
                margin-left: -4px;

                span {
                    display: inline-block;
                    margin-right: -3px;
                    width: 13px;
                    text-align: center;
                    background-color: rgb(255,152,0);
                    color: rgb(255,252,247);
                }
            }

            .status {
                display: inline-block;
                margin: 0 0 0 60px;
            }
            .microphone-controller {
                display: inline-block;
                position: absolute;
                right: 0;
                font-weight: bold;
                font-size: 13px;
                cursor: pointer;
                .clear-microphone-icon {
                    position: relative;
                    bottom: 0;
                    display: inline-block;
                    width: 12px;
                    height: 30px;
                    background: url('../images/clear-microphone-list.png') no-repeat center center;
                }
                span {
                    float: left;
                    margin-left: 4px;
                }
                .disable-apply-microphone {
                    color: #CCCCCC;
                    cursor: default;
                }
            }
            .microphone-controller[disabled] {
                cursor: default;
            }
            .microphone-controller:hover {
                .clear-microphone-icon {
                    background: url('../images/clear-microphone-list-hover.png') no-repeat center center;
                }
            }
            .microphone-controller:active {
                .clear-microphone-icon {
                    background: url('../images/clear-microphone-list-focus.png') no-repeat center center;
                }
            }
        }
        .sequece-list {
            padding-top: 10px;
            .empty-tip {
                color: #999999;
            }
            .sequece-list-item {
                color: #999999;
                position: relative;
                margin-bottom: 2px;
                .student-volume-energy {
                    margin-left: 10px;
                    position: relative;
                    bottom: 2px;
                }
                .student-name {
                    max-width: 90px;
                    display: inline-block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    &.my-nickname {
                        color: #6BCDFD;
                    }
                }
                .microphone-state {
                    position: absolute;
                    right: 0;
                }
            }
        }
    }
}
