.user-list-wrapper-inner {
    .user-list-arrow {
        position: absolute;
        left: 22px;
        top: 0;
        width: 12px;
        height: 12px;
        -webkit-transform: rotate(45deg);
        background: #EDEDED;
        border-top: 1px solid #D1D1D1;
        border-left: 1px solid #D1D1D1;
        z-index: 4;
    }
    .user-list-content {
        position: absolute;
        z-index: 3;
        left: 0;
        top: 7px;
        width: 200px;
        height: 275px;
        padding: 8px 0 0;
        background: #EDEDED;
        border: 1px solid #D1D1D1;
        .search-user-wrapper {
            position: relative;
            border: 1px solid #D5D5D5;
            margin: 0 8px 3px;
            height: 20px;
            border-radius: 10px;
            background: #FFFFFF;
            line-height: 20px;
            .search-magnifier {
                position: absolute;
                left: 4px;
                top: 4px;
                background: url('../images/search-magnifier.png') no-repeat center;
                width: 13px;
                height: 12px;
            }
            .search-input {
                position: absolute;
                left: 20px;
                color: #6B6B6B;
                width: 145px;
                height: 20px;
                border: none;
                outline: none;
            }
            .search-clear-input {
                cursor: pointer;
                position: absolute;
                background: url('../images/delete-fork.png') no-repeat center;
                width: 8px;
                height: 8px;
                right: 6px;
                top: 6px;
            }
        }
        .user-list {
            color: #6D6D6D;
            height: 252px;
            overflow-y: auto;
            line-height: 25px;
            li {
                padding: 0 8px;
                cursor: default;
                &:hover {
                    background: #D1D1D1;
                }
                .left-part {
                    float: left;
                }
                .right-part {
                    float: right;
                    .ban-chat, .unban-chat {
                        cursor: pointer;
                        color: #2BD4AA;
                    }
                    .already-ban-chat {
                        color: #999999;
                    }
                }
            }
        }
    }
}
