.quiz-mask-html {
    min-height: 100px;
    min-width: 400px;
    line-height: 30px;
    width: 426px;
    min-height: 319px;
    background: #FFF;
    border: 6px solid rgba(0, 153, 255, 0.2);

    input[type=radio]:not(old) {
        width: 14px;
        height: 14px;
        margin: 0;
        padding: 0;
        opacity: 0;
    }

    input[type=radio]:not(old)+label {
        display: inline-block;
        margin-left: -28px;
        padding-left: 45px;
        width: 80px;
        background: url('../images/check_box_normal.png') no-repeat 0 0 ;
        background-size: 16px 16px;
        background-position: 2px;
    }

    input[type=radio]:not(old):checked+label {
        background: url('../images/check_box_focus.png') no-repeat 0 0;
        background-size: 16px 16px;
        background-position: 2px;

    }


    .quiz-title {
        font-size: 18px;
        color: #333333;
        padding-bottom: 15px;
        padding-top:15px;
        padding-left: 15px;
        padding-right:15px; 
        border-bottom: 1px solid #DFDFDF;
        text-align: left;
        z-index: 999;
        .title-text {
            display: inline-block;
            width: 365px;
            text-align: left;
        }
        .close-quiz-mask {
            display: inline-block;
            text-align: right;
            width: 15px;
            height: 13px;
            cursor: pointer;
            font-size: 22px;
            background: url('../images/quiz-close.png') no-repeat right;
                     
        }
    }

    .quiz-content {
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 15px;
        .check-item {
            margin-top: 6px;
            margin-bottom: 21px;
            height: 14px;
            padding-bottom: 21px;
            font-size: 14px;
            .title-text {
                display: inline-block;
                width: 60px;
                font-size: 14px;
                color: #333333;
                text-align: left;
            }
        }
        .quiz-split-line {
            background: #dfdfdf;
            height: 1px;
            margin-right: 0px;
            margin-left: 0px;
        }
        .option-content {
            height: 100px;
            .option-header {
                margin-top: 24px;
                margin-bottom: 24px;
                .option-title {
                    display: inline-block;
                    width: 240px;
                    .title-text {
                        font-size: 14px;
                        color: #333333;
                    }
                    .sub-title-text {
                        font-size: 14px;
                        color: #999999;
                        text-align: left;
                    }
                }
                .option-action {
                    display: inline-block;
                    text-align: right;
                    width: 140px;
                    .add-option-iamge {
                        display: inline-block;
                        width: 15px;
                        height: 15px;
                        margin-left: 20px;
                        background: url('../images/quiz-add.png') no-repeat center center;
                        &:hover {
                            cursor: pointer;
                            background: url('../images/quiz-add-hover.png') no-repeat;
                        }
                        &:active {
                            background: url('../images/quiz-add-active.png') no-repeat;
                        }
                        &.disabled {
                            cursor: default;
                            background: url('../images/quiz-add-disable.png') no-repeat;
                        }
                    }
                    .option-function {
                        display: inline-block;
                        cursor: pointer;
                        font-size: 14px;
                        color: #0099ff;
                        text-align: left;
                        margin-top: -3px;
                        vertical-align: top;
                    }
                    .clear-option-iamge {
                        display: inline-block;
                        width: 15px;
                        height: 15px;
                        margin-left: 10px;
                        background: url('../images/quiz-clear.png') no-repeat center center;
                        &:hover {
                            cursor: pointer;
                            background: url('../images/quiz-clear-hover.png') no-repeat;
                        }
                        &:active {
                            background: url('../images/quiz-clear-active.png') no-repeat;
                        }
                        &.disabled {
                            cursor: default;
                            background: url('../images/quiz-clear-disable.png') no-repeat;
                        }
                    }
                }
            }
            .option-item {
                text-align: left;
                margin-left: 31px;
                .option-size {
                    display: inline-block;
                    height: 30px;
                    width: 30px;
                    margin-left: 27px;
                    .option-text {
                        display: inline-block;
                        cursor: pointer;
                        border: 1px solid #dfdfdf;
                        width: 22px;
                        height: 22px;
                        border-radius: 50%;
                        color: #333333;
                        font-size: 12px;
                        text-align: center;
                        span {
                            display: inline-block;
                            height: 22px;
                            line-height: 22px;
                            text-align: center;
                        }
                    }
                    .option-text.selected {
                        display: inline-block;
                        border: 1px solid #0099ff;
                        background: #0099ff;
                        width: 22px;
                        height: 22px;
                        border-radius: 50%;
                        color: #ffffff;
                        font-size: 12px;
                        span {
                            display: inline-block;
                            height: 22px;
                            line-height: 22px;
                            text-align: center;
                        }
                    }
                    .option-text:hover {
                        border: 1px solid #0099ff;
                        background: #0099ff;
                        opacity: 0.5;
                        color: #ffffff;
                    }
                }
            }
            .option-item.multiselect {
                .option-size {
                    .option-text {
                        border-radius: 4px;   
                    }
                }
            }
        }
    }

    .quiz-mask-submit {
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
        margin-bottom: 30px;
        .center-btn {
            cursor: pointer;
            display: inline-block;
            background: #0099ff;
            border-radius: 3px;
            width: 75px;
            height: 33px;
            text-align: center;
            line-height: 33px;
            .episode-button-status {
                font-size: 13px;
                color: #ffffff;
            }
        }
    }


}