<div class="quiz-mask-html" ng-controller="StudentSummaryCtrl">
    <div class="quiz-student-title">
        <span class="title-text">本题答案</span>
        <span class="close-quiz-mask" ng-click="onClose()"></span>
    </div>
    <div class="quiz-split-line"></div>
    <div class="student-selection-content">
        <div class="student-selection-title"><span><text>答题时间...</text> </span></div>
        <div class="student-selection-title"><span>参加人数: <text>{{attendStudents}}</text> </span><span>正确率: <text>{{correctRate}}%</text></span></div>
        <div class="quiz-selection">
            <div ng-repeat="opt in labels" class="quiz-selection-item default"  ng-class="{'right': opt.correct >= 0, 'wrong': opt.correct < 0, 'selected':opt.selected > -1,'multiselect':quizType == 2}">
                <span class="selection-item">
                    <span class="selection-text"><span>{{opt.text}}</span></span>
                </span>
                <span class="progress-bar">
                    <span class="progress-bar-up" ng-style="{width: opt.correctRate + '%'}"></span>
                <span class="progress-bar-down"></span>
                </span>
                <span class="selection-number-text">{{opt.correctRate}}%</span>
            </div>           
        </div>
    </div>

</div>
