.quiz-mask-html {

    .quiz-student-title {
        font-size: 18px;
        color: #333333;
        text-align: center;
        padding-bottom: 15px;
        padding-top: 15px;
        padding-left: 15px;
        padding-right:15px; 
        z-index: 999;
        .title-text {
            display: inline-block;
            width: 370px;
            text-align: left;
            font-size: 18px;
        }
        .close-quiz-mask {
            display: inline-block;
            text-align: right;
            width: 15px;
            height: 13px;
            cursor: pointer;
            font-size: 22px;
            background: url('../images/quiz-close.png') no-repeat right;
        }
    }

    .quiz-split-line {
        background: #dfdfdf;
        height: 1px;
        margin-left: 15px;
        margin-right:15px; 
    }

    .student-selection-content {
        text-align: center;
        margin-bottom: 30px;
        .student-selection-title{
            font-size: 16px;
            text-align: left;
            padding-left: 15px;
            padding-top: 15px;
            padding-bottom: 15px;
            span{
                display: inline-block;
                width: 155px;
                font-size: 14px;
            } 
            text{
                color:#ff9800;
                font-size: 16px;
            }
        }
        .quiz-selection {
            display: inline-block;
            width: 430px;
            min-height: 160px;
            margin: auto;

            .quiz-selection-item {
                height: 22px;
                margin-bottom: 15px;

                .selection-item {
                    display: inline-block;
                    height: 22px;
                    width: 35px;
                    .selection-text {
                        display: inline-block;
                        border: 1px solid #ff5a5a;
                        width: 22px;
                        height: 22px;
                        border-radius: 50%;
                        color: #ff5a5a;
                        font-size: 12px;
                        text-align: center;
                        span {
                            display: inline-block;
                            height: 22px;
                            line-height: 22px;
                        }
                    }
                }
                .progress-bar {
                    display: inline-block;
                    height: 22px;
                    width: 213px;
                    vertical-align: middle;
                    .progress-bar-up {
                        display: block;
                        width: 65px;
                        height: 4px;
                        background-color: #ff5a5a;
                        position: relative;
                        top: 8px;
                        z-index: 3;
                    }
                    .progress-bar-down {
                        display: block;
                        width: 213px;
                        height: 4px;
                        background-color: #f0f0f8;
                        position: relative;
                        top: 4px;
                    }
                }
                .selection-number-text {
                    display: inline-block;
                    height: 22px;
                    width: 60px;
                    text-align: left;
                    color: #666666;
                    font-size: 14px;
                }
            }
            .quiz-selection-item.right {
                .selection-item {
                    .selection-text {
                        border: 1px solid #2bc8a0;
                        color: #2bc8a0;
                    }
                }
                .progress-bar {
                    .progress-bar-up {
                        background-color: #2bc8a0;
                    }
                }
            }
            .quiz-selection-item.wrong {
                .selection-item {
                    .selection-text {
                        border: 1px solid #ff5a5a;
                        color: #ff5a5a;
                    }
                }
                .progress-bar {
                    .progress-bar-up {
                        background-color: #ff5a5a;
                    }
                }
            }
            .quiz-selection-item.default {
                .selection-item {
                    .selection-text {
                        border: 1px solid #0099ff;
                        color: #0099ff;
                    }
                }
                .progress-bar {
                    .progress-bar-up {
                        background-color: #0099ff;
                    }
                }
            }
            .quiz-selection-item.right.selected {
                .selection-item {
                    .selection-text {
                        border: 1px solid #2bc8a0;
                        background-color: #2bc8a0;
                        color: #ffffff;
                    }
                }
                .progress-bar {
                    .progress-bar-up {
                        background-color: #2bc8a0;
                    }
                }
            }
            .quiz-selection-item.wrong.selected {
                .selection-item {
                    .selection-text {
                        border: 1px solid #ff5a5a;
                        background-color: #ff5a5a;
                        color: #ffffff;
                    }
                }
                .progress-bar {
                    .progress-bar-up {
                        background-color: #ff5a5a;
                    }
                }
            }
            .quiz-selection-item.default.selected {
                .selection-item {
                    .selection-text {
                        border: 1px solid #0099ff;
                        background-color: #0099ff;
                        color: #ffffff;
                    }
                }
                .progress-bar {
                    .progress-bar-up {
                        background-color: #0099ff;
                    }
                }
            }
            .quiz-selection-item.multiselect {
                .selection-item {
                    .selection-text {
                        border-radius: 4px;
                    }
                }
            }
        }
    }
}