<div class="quiz-mask-html" ng-controller="TeacherSummaryCtrl">
    <div class="quiz-teacher-answer-title">
        <span class="participants-number"><span class="number-title">参加人数：</span><text>{{attendStudents}}人</text></span>
        <span class="correct-rate"><span class="number-title">正确率：</span><text>{{correctRate}}%</text></span>
        <span class="close-quiz-mask" ng-click="removeQuestion()"></span>
    </div>
    <div class="quiz-teacher-answer-content">
        <div class="quiz-selection-title">
            <div ng-show="quizType==1">单选</div>            
            <div ng-show="quizType==2">多选</div>            
        </div>
        <div class="quiz-selection">

            <div  ng-repeat="opt in labels" class="quiz-selection-item" ng-class="{'right': opt.correct >= 0, 'wrong': opt.correct < 0}">
                <span class="selection-item" ng-class="quizType == 2 ? 'multiselect':'' ">
                    <span class="selection-text"><span>{{opt.text}}</span></span>
                </span>
                <span class="progress-bar">
                    <span class="progress-bar-up" ng-style="{width: opt.correctRate + '%'}"></span>
                <span class="progress-bar-down"></span>
                </span>
                <span class="selection-number-text">{{opt.attendStudents}}人</span>
                <span class="selection-number-text">{{opt.correctRate}}%</span>
            </div>           
        </div>
    </div>
    <div class="quiz-teacher-solution">
        <span class="solution-title">正确答案：</span>
        <span class="solution-item" ng-repeat="ans in correctOpts" ng-class="quizType == 2 ? 'multiselect':'' ">
            <span class="solution-text"><span>{{ans}}</span></span>
        </span>        
    </div>
    <div class="quiz-mask-submit" ng-show="!hasEndQuestion">
        <div class="center-btn" ng-click="dosubmit()">
            <span class="episode-button-status">停止答题</span>
        </div>
    </div>
</div>