.quiz-student-mask-html {
    min-width: 400px;
    min-height: 45px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    .content{
        background-color: #f0f0f8;
        height: 45px;
        padding-left: 15px;
    }
    .selection-item{
        display: inline-block;
        height: 45px; 
        min-width: 470px;
        width: 65%;
        .selection-item-size{
            display: inline-block;
            width: 60px;
            height: 45px;
            text-align: center;
            margin-top: 7px;
            .selection-item-text{
                cursor: pointer;
                border-radius: 50%;
                display: inline-block;
                height: 30px;
                width: 30px;
                color:#333333;
                background-color: #ffffff;
                border: 1px solid #999999;
                span{
                    display: inline-block;
                    font-size: 15px;
                    line-height: 30px;
                }
            }
            .selection-item-text:hover{
                color:#ffffff;
                border: 1px solid #0099ff;
                background-color: #0099ff;
                opacity: 0.5;
            }
            .selection-item-text.selected{
                color:#ffffff;
                border: 1px solid #0099ff;
                background-color: #0099ff;
            }
        }
        
    }
    .selection-item.multiselect{
        .selection-item-size{
            .selection-item-text{
                border-radius: 4px; 
            } 
        }
    }
    .quiz-mask-submit {
        display: inline-block;
        min-width: 120px;
        width: 33%;
        padding-right: 15px;
        text-align: right;
        vertical-align: top;
        box-sizing: border-box;
        .center-btn {
            cursor: pointer;
            display: inline-block;
            background: #0099ff;
            border-radius: 4px;
            width: 90px;
            height: 30px;
            margin-top: 7px;
            text-align: center;
            line-height: 30px;
            .episode-button-status {
                display: inline-block;
                font-size: 14px;
                color: #ffffff;
            }
        }
    }



}