<div class="quiz-mask-html" ng-controller="QuizCtrl">
    <div class="quiz-title">
        <span class="title-text">课堂问答</span>
        <span class="close-quiz-mask" ng-click="hideQuestionPanel()"></span>
    </div>
    <div class="quiz-content">
        <div class="check-item">
            <span class="title-text">题型</span>
            <input type="radio" name="quesType" ng-model="question.type" value="1" id="s1" />
            <label for="s1">单选</label>
            <input type="radio" name="quesType" ng-model="question.type" value="2" id="s2"/>
            <label for="s2">多选</label>
        </div>
        <div class="quiz-split-line"></div>
        <div class="option-content">
            <div class="option-header">
                <span class="option-title">
                    <text class="title-text">选项</text>
                    <text class="sub-title-text">（点击相应选项设置正确答案）</text> 
                </span>
                <span class="option-action">
                    <span class="add-option-iamge"></span>
                    <span class="option-function" ng-click="addOption()">添加</span>
                    <span class="clear-option-iamge"></span>
                    <span class="option-function" ng-click="delOption()">删除</span>
                </span>
            </div>
            <div class="option-item " ng-class="{'multiselect':question.type==2}" >
                <span class="option-size" ng-repeat="opt in question.labels">
                    <span class="option-text" ng-click="clickOption(opt);" ng-class="opt.selected?'selected':'' "><span>{{opt.text}}</span> </span>
                </span>                
            </div>
        </div>
    </div>
    <div class="quiz-mask-submit">
        <div class="center-btn" ng-click="dosubmit()">
            <span class="episode-button-status">发布题目</span>
        </div>
    </div>
</div>