.quiz-mask-html {


    .quiz-teacher-answer-title {
        font-size: 16px;
        color: #333333;
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 28px;
        .participants-number {
            display: inline-block;
            width: 155px;
            text-align: left;
            .number-title{
                font-size: 14px;
            }
            text {
                color: #ff9800;
            }
        }
        .correct-rate {
            display: inline-block;
            width: 200px;
            text-align: left;
            .number-title{
                font-size: 14px;
            }
            text {
                color: #ff9800;
            }
        }
        .close-quiz-mask {
            display: inline-block;
            text-align: right;
            width: 15px;
            height: 13px;
            color: #dfdfdf;
            cursor: pointer;
            font-size: 22px;
            background: url('../images/quiz-close.png') no-repeat right;
        }
    }

    .quiz-teacher-answer-content {
        min-height: 160px;
        padding-left: 15px;
        padding-right: 15px;

        .quiz-selection-title {
            display: inline-block;
            width: 43px;
            min-height: 160px;
            font-size: 14px;
            vertical-align: top;
        }
        .quiz-selection {
            display: inline-block;
            width: 345px;
            min-height: 160px;

            .quiz-selection-item {
                height: 22px;
                margin-bottom: 15px;

                .selection-item {
                    display: inline-block;
                    height: 22px;
                    width: 27px;
                    .selection-text {
                        display: inline-block;
                        border: 1px solid #ff5a5a;
                        width: 22px;
                        height: 22px;
                        border-radius: 50%;
                        color: #ff5a5a;
                        font-size: 12px;
                        text-align: center;
                        span {
                            display: inline-block;
                            height: 22px;
                            line-height: 22px;
                        }
                    }
                }
                .selection-item.multiselect {
                    .selection-text {
                        border-radius: 4px;
                    }
                }
                .progress-bar {
                    display: inline-block;
                    height: 22px;
                    width: 200px;
                    vertical-align: middle;
                    .progress-bar-up {
                        display: block;
                        width: 65px;
                        height: 4px;
                        background-color: #ff5a5a;
                        position: relative;
                        top: 8px;
                        z-index: 3;
                    }
                    .progress-bar-down {
                        display: block;
                        width: 200px;
                        height: 4px;
                        background-color: #f0f0f8;
                        position: relative;
                        top: 4px;
                    }
                }
                .selection-number-text {
                    display: inline-block;
                    height: 22px;
                    width: 47px;
                    text-align: left;
                    color: #666666;
                    font-size: 14px;
                }
            }
            .quiz-selection-item.right {
                .selection-item {
                    .selection-text {
                        border: 1px solid #2bc8a0;
                        background-color: #2bc8a0;
                        color: #ffffff;
                    }
                }
                .progress-bar {
                    .progress-bar-up {
                        background-color: #2bc8a0;
                    }
                }
            }
        }
    }
    .quiz-teacher-solution {
        padding-top: 10px;
        margin-bottom: 25px;
        padding-left: 15px;
        .solution-title {
            display: inline-block;
            width: 75px;
            color: #666666;
            font-size: 14px;
        }
        .solution-item {
            display: inline-block;
            height: 22px;
            width: 40px;
            .solution-text {
                display: inline-block;
                border: 1px solid #2bc8a0;
                background-color: #2bc8a0;
                width: 22px;
                height: 22px;
                border-radius: 50%;
                color: #ffffff;
                font-size: 12px;
                text-align: center;
                span {
                    display: inline-block;
                    height: 22px;
                    line-height: 22px;
                }
            }
        }
         .solution-item.multiselect {
            .solution-text {
                border-radius: 4px;
            }
        }
    }
}