<div class = "replay-chat-panel" id = "chat-panel" ng-controller="ReplayChatCtrl">
    <div class="online-person">聊天<span class="online-person-value">（{{userCount}}人在线）</span></div>
    <div class="message-list-wrapper font-12">
        <ul class="message-list">
            <li class="top-message" ng-class="latestTopMessage.userId === episode.teacher.userId?'teacher' : 'assistant'" ng-show="latestTopMessageId">
                <span ng-if="latestTopMessage.userId === episode.teacher.userId">[老师]{{getUser(latestTopMessage.userId).name}}：</span>
                <span ng-if="inArray(latestTopMessage.userId, allAssistantList)">[助教]{{getUser(latestTopMessage.userId).name}}：</span>
                <span class="latest-top-message-content">{{latestTopMessage.content}}</span>
                <span ng-if="isTeacher || isAssistant" class="cancel-top-message" ng-click="cancelTopMessage()"></span>
            </li>
            <li class="one-chat-message" ng-class="chatMessage.userId === episode.teacher.userId?'teacher' : inArray(chatMessage.userId, allAssistantList) ? 'assistant' : 'student' " ng-repeat="chatMessage in chatMessageList" ng-if="chatMessage.messageId !=  latestTopMessageId">
                <span class="chat-message-nickname" ng-class="chatMessage.userId === userId?'my-nickname':''">
                    <span ng-if="chatMessage.userId === episode.teacher.userId">[老师]{{getUser(chatMessage.userId).name}}：</span>
                    <span ng-if="inArray(chatMessage.userId, allAssistantList)">[助教]{{getUser(chatMessage.userId).name}}：</span>
                    <span ng-if="chatMessage.userId !== episode.teacher.userId&&!inArray(chatMessage.userId, allAssistantList)">{{getUser(chatMessage.userId).name}}：</span>
                </span>
                <chat-message class="chat-message-content" ng-class="chatMessage.userId === userId?'my-nickname':''" message="{{chatMessage.content}}"></chat-message>
            </li>
        </ul>
    </div>
</div>
