.replay-player-wrapper {
    .audio-panel {
        .progress {
            position: relative;
            height: 5px;

            .breviary {
                position: absolute;
                bottom: 100%;
                margin-bottom: 2px;
                height: 160px;
                z-index: 20;
                .breviary-content {
                    height: 154px;
                    border: 1px solid #343434;
                    #breviary-keynote {
                        height: 139px;
                    }
                    .breviary-bottom-panel {
                        height: 15px;
                        background-color: #494949;
                        position: relative;
                        line-height: 15px;
                        .page-number-panel {
                            color: #FFFFFF;
                            position: absolute;
                            left: 8px;
                        }
                        .time-panel {
                            color: #CCCCCC;
                            position: absolute;
                            right: 8px;
                        }
                    }
                }
                .breviary-arrow {
                    position: relative;
                    height: 4px;
                    .left-breviary-arrow {
                        position: absolute;
                        left: 0;
                    }
                    .middle-breviary-arrow {
                        position: absolute;
                        left: 50%;
                        margin-left: -2px;
                    }
                    .right-breviary-arrow {
                        position: absolute;
                        right: 0;
                    }
                }
            }
            .progress-bg {
                background-color: #888888;
                height: 100%;
                .progress-filled {
                    background-color: #29D4AA;
                    height: 100%;
                }
                .progress-slider {
                    position: absolute;
                    z-index: 2;
                    top: -3px;
                    left: 0;
                    background-color: #29D4AA;
                    width: 12px;
                    height: 12px;
                    border-radius: 6px;
                }
                .progress-point {
                    cursor: pointer;
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    width: 1px;
                    height: 5px;
                    background: #FFFFFF;
                }
            }
            .play-progress {
                height: 100%;
                &::-webkit-slider-thumb {
                    background-color: #29D4AA;
                    &:hover {
                        background: #29D4AA;
                    }
                }
            }
        }
        .bottom-controller {
            height: 45px;
            position: relative;
            .page-number-panel {
                color: #999999;
                position: absolute;
                left: 10px;
                top: 0;
                font-size: 12px;
                line-height: 45px;
            }
            .prev-section {
                cursor: pointer;
                position: absolute;
                @width: 14px;
                @height: 12px;
                width: @width;
                height: @height;
                left: 50%;
                top: 16px;
                margin-left: -42px;
                background: url('../images/replay-prev-section.png') no-repeat center center;
                &:hover {
                    background: url('../images/replay-prev-section-hover.png') no-repeat center center;
                }
                &:active {
                    background: url('../images/replay-prev-section-active.png') no-repeat center center;
                }
                &.disabled {
                    background: url('../images/replay-prev-section-disabled.png') no-repeat center center;
                }
                .inner-button {
                    height: 100%;
                }
            }
            .next-section {
                cursor: pointer;
                position: absolute;
                @width: 14px;
                @height: 12px;
                width: @width;
                height: @height;
                left: 50%;
                top: 16px;
                margin-left: 30px;
                background: url('../images/replay-next-section.png') no-repeat center center;
                &:hover {
                    background: url('../images/replay-next-section-hover.png') no-repeat center center;
                }
                &:active {
                    background: url('../images/replay-next-section-active.png') no-repeat center center;
                }
                &.disabled {
                    background: url('../images/replay-next-section-disabled.png') no-repeat center center;
                }
                .inner-button {
                    height: 100%;
                }
            }
            .play {
                position: absolute;
                @width: 30px;
                @height: 30px;
                width: @width;
                height: @height;
                left: 50%;
                top: 7px;
                margin-left: -@width/2;
                .inner-button {
                    height: 100%;
                }
                &.play-icon {
                    background: url('../images/replay-play.png') no-repeat center;
                    &:hover {
                        background: url('../images/replay-play-hover.png') no-repeat center;
                    }
                    &:active {
                        background: url('../images/replay-play-active.png') no-repeat center;
                    }
                }

                &.pause-icon {
                    background: url('../images/replay-pause.png') no-repeat center;
                    &:hover {
                        background: url('../images/replay-pause-hover.png') no-repeat center;
                    }
                    &:active {
                        background: url('../images/replay-pause-active.png') no-repeat center;
                    }
                }
            }



            .time-panel {
                display: inline-block;
                position: absolute;
                left: 60px;
                top: 0;
                line-height: 45px;
                span {
                    font-size: 12px;
                    color: #CCCCCC;
                }
            }

            .volume-icon {
                display: inline-block;
                position: absolute;
                right: 125px;
                width: 16px;
                height: 16px;
                top: 14px;
                background: url('../images/volume-icon.png') no-repeat;
            }

            .volume-bar {
                display: inline-block;
                position: absolute;
                width: 77px;
                height: 2px;
                right: 40px;
                top: 21px;

                .slide::-webkit-slider-thumb {
                    background: #2AD4AA;

                    &:hover {
                        background: #00B288;
                    }
                }
            }

            .maximize-ppt {
                display: inline-block;
                width: 17px;
                height: 16px;
                background: url('../images/full-screen.png') no-repeat;
                &:hover  {
                    background: url('../images/full-screen-hover.png') no-repeat;
                }
                &:active {
                    background: url('../images/full-screen-focus.png') no-repeat;
                }
                &.fullscreen {
                    background: url('../images/exit-full-screen.png') no-repeat;
                    &:hover  {
                        background: url('../images/exit-full-screen-hover.png') no-repeat;
                    }
                    &:active {
                        background: url('../images/exit-full-screen-focus.png') no-repeat;
                    }
                }
                position: absolute;
                right: 10px;
                top: 14px;
            }
        }
    }
}
