.microphone-queue-wrapper {

    .replay-platform-wrapper {
        background: #FFFFFF;
        line-height: 26px;
        color: #C3C3C3;
        font-size: 13px;
        position: relative;
        padding: 0;

        .title-wrapper {
            line-height: 30px;
            border-bottom: 1px #EDEDED solid;
        }

        .teacher-volume-wrapper {
            padding: 0 10px;
            border-bottom: 2px solid #ededed;
            .teacher-name {
                max-width: 100px;
                text-overflow:ellipsis;
                overflow: hidden;
                white-space: nowrap;
                display: inline-block;
            }
            .teacher-volume-energy {
                padding: 10px 0;
            }
            .teacher-in-class {
                color: #9966FF;
            }
            img {
                margin-top: 8px;
                float: right;
            }
        }

        .assistant-volume-energy {
            color: #74D0FD;
            .assistant-name {
                max-width: 100px;
                text-overflow:ellipsis;
                margin-right: 15px;
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
            }
            .assistant-volume-energy {
                vertical-align: middle;
                margin-top: -3px;
            }
        }
    }

    .replay-microphone-sequence-queue {
        background-color: #FFFFFF;
        padding: 0 10px 10px 10px;
        height: 135px;
        margin: 2px 0;
        border-bottom: 2px solid #ededed;
        .sequence-header {
            height: 30px;
            width: 100%;
            line-height: 30px;
            color: #C3C3C3;
            border-bottom: 1px solid #ededed;
            display: inline-block;
            position: relative;
            .title {
                display: inline-block;
            }
        }
        .sequece-list {
            padding-top: 10px;
            .empty-tip {
                color: #999999;
            }
            .sequece-list-item {
                color: #999999;
                position: relative;
                margin-bottom: 2px;
                .student-volume-energy {
                    margin-left: 10px;
                    position: relative;
                    bottom: 2px;
                }
                .student-name {
                    max-width: 90px;
                    display: inline-block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    &.my-nickname {
                        color: #6BCDFD;
                    }
                }
            }
        }
    }
}
