.replay-chat-panel {
    display: flex;
    flex-direction: column;
    .online-person {
        position: relative;
        top: 0;
        color: #C3C3C3;
        line-height: 25px;
        flex: none;
        border-bottom: 1px solid #EDEDED;
        .online-person-value {
          color: #2DCBA0;
        }
    }
    .message-list-wrapper {
        position: relative;
        height: 100%;
        overflow: auto;
        -webkit-user-select: text;
        margin: 0 -10px 0 10px;
        bottom: 0;
        width: auto;
        left: 0;
        right: 0;
       .message-list {
            width: 100%;
            word-wrap: break-word;
            line-height: 22px;
            cursor: default;
            white-space-collapse: discard;
            a {
                text-decoration: underline;
            }
            chat-message {
                white-space-collapse: preserve;
            }
            .top-message {
                position: absolute;
                left: 0;
                top: 0;
                right: 10px;
                line-height: 20px;
                padding: 4px 20px 4px 0;
                border-bottom: 1px dashed #E5E5E5;
                z-index: 2;
                background: #FFFFFF;
                opacity: 0;
                .cancel-top-message {
                    background: url('../images/delete-fork.png') no-repeat center;
                    width: 8px;
                    height: 8px;
                    position: absolute;
                    right: 0;
                    top: 10px;
                    cursor: pointer;
                }
                &.teacher {
                    color: #6446B4;
                }
                &.assistant {
                    color: #4995F2;
                }
            }
            .one-chat-message {
                .break-all;
                &.teacher {
                    color: #6446B4;
                }
                &.assistant {
                    color: #4995F2;
                }
                &.student {
                    .chat-message-nickname {
                        color: #999999;
                        position: relative;
                        &.my-nickname {
                            color: #333333;
                        }
                    }
                    .chat-message-content {
                        color: #999999;
                        &.my-nickname {
                            color: #333333;
                        }
                        a {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}
