<div id="replayPPT" class="replay-ppt" ng-class="isFullscreen? 'fullscreen' : '' " ng-controller="ReplayKeynoteCtrl">
    <div class="ppt-title-wrapper">
        <div class="title">
            <a class="button" ng-click="backToList();">返回</a>

            <span class="muted">|&nbsp;&nbsp;</span>
            <span class="topic muted">{{episode.title}}</span><a href  ng-if="episode.materialId" ng-click="downloadMaterial(episode.materialId)">&nbsp;&nbsp;(下载讲义)</a>

            <span class="audio-gear-icon"></span>
            <span class="volume-bar">
                <input class="slide" type="range" max="1.68" min="1.0" ng-model="playSpeed" step="0.01" ng-change="setPlaySpeed()" fill-color="'#2AD4AA'"></span>
            </span>

        </div>
        <!--<div class="comment" ng-include="'component/commentStat.html'" ng-init="commentStat=episode.commentStat; commentable=true"></div>-->
    </div>
    <div class="ppt-panel-wrapper">
        <div class="ppt-content-wrapper">
            <div class="keynote-content-wrapper">
                <canvas id="keynote-content" ng-show="keynote" width="0" height="0"></canvas>
                <div class="keynote-placeholder" ng-if="!keynote">
                    <div class="title">{{episodeTitle}}</div>
                    <div class="teacher">{{teacherName}}</div>
                    <div class="time">上课时间：{{timeRangeStr}}</div>
                    <div class="logo"></div>
                </div>
            </div>

            <div class="keynote-sketch" ng-show="keynoteLoaded" >
                <video-panel eventname='"room.video.center"' nickname='largeVideoNickname' max-volume= '12' userid='"center"' large-uid='largeUid' current-volume='currentVolume' width='640' height='480' ng-show='largeUid' countdown='countdown'></video-panel>
            </div>
            <div class="keynote-sketch" ng-show="keynoteLoaded && largeUid <= 0" ng-controller="ReplaySketchCtrl">
                <div class="keynote-sketch-stroke">
                    <canvas id="stroke" width="0" height="0" ></canvas>
                </div>
                <div class="keynote-sketch-temp-stroke">
                    <canvas id="temp-stroke" width="0" height="0" ng-class="isTeacher?'drawable':''"></canvas>
                </div>
            </div>

            <div class="quiz-mask" ng-show="questionMask">                
                <div ng-include="questionTpl.contentUrl"></div>
            </div>

            <div class="keynote-sketch" ng-show="keynoteLoaded" >
                <video-panel eventname='"room.video.center"' nickname='largeVideoNickname' max-volume= '12' userid='"center"' large-uid='largeUid' current-volume='currentVolume' width='640' height='480' ng-show='largeUid' countdown='countdown'></video-panel>
            </div>
            
            <div class="unstart-mask" ng-show="(!dialog.entering && !hasStartLoadKeynote)|| keynoteRenderFail || keynoteLoadFail"></div>
            <img class="loading" ng-show="!dialog.entering &&!hasStartLoadKeynote" src="../images/loading-large.gif"/>
            <div class="reload-ppt-button button" ng-click="loadKeynote();" ng-show="keynoteLoadFail"></div>
            <div class="reload-ppt-button button" ng-click="renderKeynote();" ng-show="keynoteRenderFail"></div>
            <div class="reload-ppt-tip" ng-show="keynoteRenderFail || keynoteLoadFail">
                课件加载出现了点问题，点击刷新重试。
            </div>
            <div class="download-progress-wrapper" ng-if="downloadStatusString.length > 0 && !keynoteLoadFail">
                <span class="hint">正在下载课件</span>
                <div class="progress-bg-bar">
                    <div class="progress-bar" ng-style="{ width: downloadStatusString}">
                    </div>
                </div>
                <span class="progress">{{downloadStatusString}}</span>
            </div>
        </div>
        <div class="video-side-wrapper" ng-show="keynoteLoaded && (isTeacherVideoOpen || videoNum > 0)">
            <div class="video-teacher-wrapper">
                <div id="video-teacher" ng-show="isTeacherVideoOpen">
                    <video-panel nickname='teacherList[0].nickName' eventname='"room.video.event.20"' switchable='true && isTeacher' is-teacher='true' isvideoopen='true'userid='teacherList[0].userId' large-uid='largeUid' current-volume='' width='120' height='90'></video-panel>
                </div>
            </div>
            <div class="video-student-wrapper">
                <div class="video-student" ng-show="videoNum > 0 && isVideoMicOpen">
                    <video-panel nickname='microphoneList[0].nickName' eventname='"room.video.event.0"' switchable='true && isTeacher' isvideoopen='microphoneList[0].isVideoOpen' userid='microphoneList[0].userId' large-uid='largeUid' current-volume='' width='120' height='90'></video-panel>
                </div>
                <div class="video-student" ng-show="videoNum > 1 && isVideoMicOpen">
                    <video-panel nickname='microphoneList[1].nickName' eventname='"room.video.event.1"' switchable='false' isvideoopen='microphoneList[1].isVideoOpen' userid='microphoneList[1].userId' large-uid='largeUid' current-volume='' width='120' height='90'></video-panel>
                </div>
                <div class="video-student" ng-show="videoNum > 2 && isVideoMicOpen">
                    <video-panel nickname='microphoneList[2].nickName' eventname='"room.video.event.2"' switchable='false' isvideoopen='microphoneList[2].isVideoOpen' userid='microphoneList[2].userId' large-uid='largeUid' current-volume='' width='120' height='90'></video-panel>
                </div>
            </div>
        </div>
    </div>
    <div class="ppt-controller-wrapper">
        <div class="replay-player-wrapper" ng-include="'component/replayPlayer.html'"></div>
    </div>
</div>
<truman-dialog ng-if="dialog.episodeToComment" on-close="hideCommentDialog()">
    <div ng-include="'dialog/commentDialog.html'" ng-init="episode=dialog.episodeToComment"></div>
</truman-dialog>