.replay-user-panel {
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    position: relative;

    .old-right-panel {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        overflow: auto;
        background-color: #FFFFFF;
    }

    .chat-panel-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        flex-grow: 1;
        box-sizing: border-box;
        padding: 0 10px 10px;
        background: #FFFFFF;
        box-shadow: 0 3px 3px #E2E2E2;
        box-sizing: border-box;
    }

    .microphone-queue-wrapper {
        //height: 90px;
        flex: none;
    }
    &.microphone-queue-open {
    }
    &.assistant-on-board {
        .microphone-queue-wrapper {
            height: 85px;
        }

        .chat-panel-wrapper {
            top: 85px;
        }
    }
    &.microphone-queue-open.assistant-on-board {
        .microphone-queue-wrapper {
            height: 220px;
        }

        .chat-panel-wrapper {
            top: 222px;
        }
    }
}
