.replay-ppt {
    box-shadow: 0 3px 3px #E2E2E2;

    .ppt-title-wrapper {
        height: 40px;
        background: #F9F9F9;
        font-size: 12px;
        line-height: 40px;
        padding-left: 10px;
        .muted {
            color: #999999;
        }
        .title {
            float: left;
        }
        .comment {
            float: left;
            margin: 10px 20px;
        }
    }

    .ppt-panel-wrapper {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 40px;
        bottom: 40px;
        height: auto;
        border-top: 1px #DBDBDB solid;
        border-bottom: 1px #DBDBDB solid;
        background: #DBDBDB;
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
        .download-progress-wrapper {
            z-index: 11;
            position: absolute;
            top: 70%;
            left: 50%;
            @width: 500px;
            width: @width;
            margin-left: -@width/2;
            font-size: 12px;
            line-height: 12px;
            text-align: center;
            .hint {
                color: #666;
            }
            .progress-bg-bar {
                display: inline-block;
                position: relative;
                width: 214px;
                height: 10px;
                background: #EFEFEF;
                margin:0 10px;
            }
            .progress-bar {
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                background: #37C7A1;
            }
            .progress {
                color: #3DCB9A;
            }
        }
        .ppt-content-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
        }
        .video-side-wrapper {
            flex: none;
            width: 120px;
            height: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            .video-teacher-wrapper {
                width: 120px;
                height: 90px;
                #video-teacher {
                    border: 2px solid white;
                    overflow: hidden;
                }
            }
            .video-student-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                .video-student {
                    height: 90px;
                    width: 120px;
                }
            }
        }
        .keynote-content-wrapper {
            width: 100%;
            height: 100%;
            background: #FFFFFF;
            display:-webkit-box;
            -webkit-box-orient:vertical;
            -webkit-box-pack:center;
            -webkit-box-align:center;

            #keynote-content {
                display: block;
            }

            .keynote-placeholder {
                text-align: center;
                .title {
                    margin: 116px auto 30px;
                    color: #333;
                    font-size: 30px;
                }
                .teacher {
                    margin: 0 auto 75px;
                    color: #666;
                    font-size: 18px;
                }
                .time {
                    margin: 0 auto 20px;
                    color: #999;
                    font-size: 14px;
                }
                .logo {
                    margin: 0 auto;
                    background: url('../images/truman.png') no-repeat center center;
                    width: 252px;
                    height: 32px;
                }
            }
        }
        .keynote-sketch {
             position: absolute;
            top: 0;
            left: 0;
            right:0;
            bottom: 0;
            z-index: 5;
            .keynote-sketch-stroke {
                position: absolute;
                top: 15px;
                left: 15px;
                right: 15px;
                bottom: 15px;
                display:-webkit-box;
                -webkit-box-orient:vertical;
                -webkit-box-pack:center;
                -webkit-box-align:center;
                #stroke {
                    display: block;
                }
            }
            .keynote-sketch-temp-stroke {
                position: absolute;
                top: 15px;
                left: 15px;
                right: 15px;
                bottom: 15px;
                display:-webkit-box;
                -webkit-box-orient:vertical;
                -webkit-box-pack:center;
                -webkit-box-align:center;
                #temp-stroke {
                    display: block;

                    &.drawable {
                        cursor: url('../images/pen.png');
                    }
                }
            }
        }
        
        .quiz-mask {
            position: absolute;
            height: 100%;
            width: 100%;
            margin: auto;
            top: 0;
            left: 0;
            z-index: 9; //background: rgba(255, 255, 255, 0.5);
            display: -webkit-box;
            -webkit-box-orient: horizontal;
            -webkit-box-pack: center;
            -webkit-box-align: center;
        }        

        .unstart-mask {
            position: absolute;
            height: 100%;
            width: 100%;
            margin: auto;
            top: 0;
            left: 0;
            pointer-events: none;
            z-index: 10;
            background: rgba(255, 255, 255, 0.9);
        }
        .loading {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 11;
            margin-left: -30px;
            margin-top: -30px;
        }
        .reload-ppt-tip {
            position: absolute;
            top: 50%;
            left: 50%;
            @height: 30px;
            @width: 300px;
            height: @height;
            width: @width;
            line-height: 30px;
            margin-top: 90px;
            margin-left: -@width/2;
            text-align: center;
            color: rgb(102, 100, 96);
            z-index: 11;
        }
        .reload-ppt-button {
            position: absolute;
            top: 50%;
            left: 50%;
            @height: 120px;
            @width: 120px;
            height: @height;
            width: @width;
            margin-top: -@height/2;
            margin-left: -@width/2;
            background: url('../images/reload-keynote.png') no-repeat center center;
            z-index: 11;
            &:hover {
                background: url('../images/reload-keynote-hover.png') no-repeat center center;
            }
            &:active {
                background: url('../images/reload-keynote-clicked.png') no-repeat center center;
            }
        }
    }
    .ppt-controller-wrapper {
        height: 47px;
        background: #F9F9F9;
        padding: 0;
        position: absolute;
        width: auto;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 6;
        .maximize-ppt {
            display: inline-block;
            width: 17px;
            height: 16px;
            background: url('../images/full-screen.png') no-repeat;
            &:hover  {
                background: url('../images/full-screen-hover.png') no-repeat;
            }
            &:active {
                background: url('../images/full-screen-focus.png') no-repeat;
            }
            &.fullscreen {
                background: url('../images/exit-full-screen.png') no-repeat;
                &:hover  {
                    background: url('../images/exit-full-screen-hover.png') no-repeat;
                }
                &:active {
                    background: url('../images/exit-full-screen-focus.png') no-repeat;
                }
            }
            position: absolute;
            right: 10px;
            top: 12px;
        }
    }

    .volume-bar {
        display: inline-block;
        position: absolute;
        width: 77px;
        height: 2px;
        right: 40px;
        top: 21px;

        .slide::-webkit-slider-thumb {
            background: #2AD4AA;

            &:hover {
                background: #00B288;
            }
        }
    }

    .audio-gear-icon {
        display: inline-block;
        position: absolute;
        right: 125px;
        width: 16px;
        height: 16px;
        top: 14px;
        background: url('../images/audio_gear.png') no-repeat;
    }
}
