<div  id="replay-player" class="audio-panel" ng-controller="ReplayPlayerCtrl" >
  <div class="progress">
      <div class="breviary ng-cloak font-12" ng-show="breviaryVisible">
          <div class="breviary-content">
              <canvas height ="139" id ="breviary-keynote"></canvas>
              <div class="breviary-bottom-panel">
                <div class="page-number-panel">
                    {{breviaryPageIndex + 1}}/{{keynote.totalPageNum}}
                </div>
                <div class="time-panel">
                    {{formatTimeToStr(breviaryTime)}}
                </div>
              </div>
          </div>
          <div class="breviary-arrow">
              <img ng-show="breviaryStyle === 'left'" class="left-breviary-arrow" src="../images/left-breviary-arrow.png" width="4" height="4">
              <img ng-show="breviaryStyle === 'middle'" class="middle-breviary-arrow" src="../images/middle-breviary-arrow.png" width="8" height="4">
              <img ng-show="breviaryStyle === 'right'" class="right-breviary-arrow" src="../images/right-breviary-arrow.png" width="4" height="4">
          </div>
      </div>
      <div ng-if="!keynoteLoaded" class="progress-bg">

      </div>
      <div ng-if="keynoteLoaded" class="progress-bg"  ng-mouseenter="onProgressMouseenter($event)" ng-mousemove="onProgressMousemove($event)" ng-mouseleave="onProgressMouseleave($event)" ng-click="onProgressClick($event)">
        <div class="progress-filled" ng-style="{width: playProgress * 100 + '%'}"></div>

        <div class="progress-slider" ng-click="onSliderClick($event)" ng-style="{left: playProgress * 100 + '%', 'margin-left': '-' + playProgress * 12 + 'px'}" ng-mousedown="beginSeek()"></div>

        <span class="progress-point"  ng-mouseenter="onPointMouseenter($event, point)" ng-click="onPointClick($event, point.npt)" ng-mouseleave="onPointMouseleave()" ng-repeat="point in pointList" ng-style="{'left' : 100 * point.npt / totalTimeInSeconds + '%'}">
        </span>
      </div>

  </div>
  <div class="bottom-controller">
      <div class="page-number-panel">
          {{pageNumber}}/{{keynote.totalPageNum}}
      </div>
      <div class="prev-section" title="上一段" ng-class="seekPrevSectionAble && keynoteLoaded?'':'disabled'">
        <div ng-if="seekPrevSectionAble && keynoteLoaded" class="inner-button" ng-click="seekToPrevSection()"></div>
      </div>
      <div class="play button" ng-attr-title="isPlaying?'暂停':'播放'" ng-class="isPlaying? 'pause-icon':'play-icon'">
        <div ng-if="keynoteLoaded" class="inner-button" ng-click="playOrPause()"></div>
      </div>
      <div class="next-section" title="下一段" ng-class="seekNextSectionAble && keynoteLoaded ? '': 'disabled'">
        <div ng-if="seekNextSectionAble && keynoteLoaded" class="inner-button" ng-click="seekToNextSection()"></div>
      </div>

      <div class="time-panel">
        <span> {{formatTimeToStr(npt)}}/{{formatTimeToStr(totalTimeInSeconds)}}</span>
      </div>
      <div class="volume-icon"></div>
      <div class="volume-bar">
          <input class="slide" type="range" max="1" min="0" ng-model="volumePercent" step="any" ng-change="setVolume()" fill-color="'#2AD4AA'">
      </div>
      <div class="maximize-ppt button" ng-class="isFullscreen? 'fullscreen' : ''" ng-click="fullScreen()"></div>
  </div>
</div>

