﻿<div class="content-wrap">
    <div ng-if="loading" class="loading">
        <p><img src="images/empty.png"></p>
        <p><img class="loading-icon" src="images/loading-large.gif" alt="loading" /></p>
    </div>
    <div ng-if="!loading && isStudent && !purchased" class="empty=episode-list">
        <div ng-include="'component/emptyEpisodeList.html'"></div>
    </div>
    <div ng-if="!loading && (isTeacher || isAssistant || purchased)" class="episode-list">
        <div class="episode-list-hd">
            <ul class="main-nav">
                <li class="nav-item"><a href ng-click="goBack()">返回&nbsp;&nbsp;|&nbsp;</a></li>
                <li class="nav-item"><span>{{courseName}}</span></li>
                <!--<li class="nav-item" ng-class="episodeFilter == 'live'? 'nav-item-active': ''" ng-click="fetchLiveList()"><span>直播列表<span></li>-->
                <!--<li class="nav-item" ng-class="episodeFilter == 'replay'? 'nav-item-active': ''" ng-click="fetchReplayList()"><span ng-if="isStudent || isAdmin">回放列表</span><span ng-if="isTeacher || isAssistant">已结课</span></li>-->
            </ul>
            <ul class="action-panel">
                <li class="episode-action refresh-button" ng-click="refreshEpisodeList()">&nbsp;</li>
            </ul>

            <ul class="main-nav" ng-if='curEpisodeSet==mainEpisodeSet'>
                <li class="nav-item"><a href  ng-click="showLabelDialog();">&nbsp;|&nbsp;&nbsp;标签</a> <span ng-show="curLabel">:</span> </li>
                <li class="nav-item" style="position: relative;left: -4px;"><truman-label label-text="{{selectedLabel}}" label-close="1" on-close="onLabelClose()" ng-show="curLabel"></truman-label></li>
            </ul>

            <!--<ul ng-if="isStudent || isAdmin" class="outer-links">
                <li class="outer-link"><a href ng-click="openTrumanWeb()">浏览直播课<span class="gt-icon"></span></a></li>
            </ul>-->
        </div>
        <div>
            <div class="episode-sets">
                <ul class="main-nav">
                    <li class="nav-item" ng-class='{true:"capsule-blue",false:"capsule"}[set == curEpisodeSet]' ng-repeat="set in episodeSetsList track by $index" ng-click="selectEpisodeSet($index)" >
                        {{set.name}}
                    </li>
                </ul>                  
            </div>
        </div>
        <div class="episode-list-bd" id="episode-list">
            <div class="episode-table">
                <table>
                    <thead>
                        <th class="episode-time">时间</th>
                        <th class="episode-title">课时信息</th>
                        <th ng-if="isStudent || isAdmin" class="episode-lecture">观看进度</th>
                        <th ng-if="isStudent || isAdmin" class="episode-student-count"></th>
                        <th class="episode-status">&nbsp;</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="episode in episodeList" ng-class="{dark: $index % 2 == 0}" ng-init="commentStat=episode.commentStat; commentable=isStudent">
                            <td class="episode-time">{{episodeTime(episode)}}</td>
                            <td class="episode-title">
                                <div class="up-part">
                                    <p class="episode-title-name">{{episode.teacher.name}} - {{episode.title}}</p>
                                </div>
                                <div class="down-part">
                                    <div ng-include="'component/commentStat.html'" ng-show="episode.status==3"></div>
                                </div>
                            </td>
                            <td ng-if="isStudent || isAdmin" class="episode-lecture">
                                <div>
                                    {{episodeWatchHistory(episode)}}
                                </div>
                            </td>
                            <td ng-if="isStudent || isAdmin" class="episode-student-count">
                                <a href class="episode-download-material"  ng-if="episode.materialId" ng-click="downloadMaterial(episode.materialId)">下载讲义</a>
                            </td>
                            <td class="episode-status">
                                <div ng-if="isStudent || isAdmin || episodeFilter=='live'" class="episode-button episode-button-{{episodeButtonClassName(episode)}}" ng-click="enterRoom(episode)">
                                    <span class="episode-button-icon">&nbsp;</span>
                                    <span class="episode-button-status">{{episodeStatusString(episode)}}</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-if="pager.totalPage>1" class="episode-pager">
                <ul>
                    <li class="page-number" ng-if="!pager.firstPage" ng-click="previousPage()">&lt;</li>
                    <li class="page-number" ng-repeat="page in pager.headSection" ng-click="pageTo(page.pageNum)">{{page.pageNum + 1}}</li>
                    <li ng-if="pager.showHeadEllipsis">...</li>
                    <li ng-repeat="page in pager.currentSection" ng-class="page.currentPage?'current-page-number':'page-number'" ng-click="pageTo(page.pageNum)">
                    {{page.pageNum + 1}}
                    </li>
                    <li ng-if="pager.showTailEllipsis">...</li>
                    <li class="page-number" ng-repeat="page in pager.tailSection" ng-click="pageTo(page.pageNum)">{{page.pageNum + 1}}</li>
                    <li class="page-number" ng-if="!pager.lastPage" ng-click="nextPage()">&gt;</li>
                </ul>
            </div>
            <!--<div ng-if="pager.totalPage==0" class="empty-message">
                <p>没有数据</p>
            </div>-->
        </div>
    </div>
</div>

<!--<truman-dialog ng-if="dialog.label" on-close="hideLabelDialog()">
    <div ng-include="'dialog/labelDialog.html'" ng-init="episode=dialog.episodeToComment"></div>
</truman-dialog>-->

<truman-dialog ng-if="dialog.label" on-close="hideLabelDialog()">
    <div ng-include="'dialog/labelDialog.html'"></div>
</truman-dialog>

<truman-dialog ng-if="dialog.episodeToComment" on-close="hideCommentDialog()">
    <div ng-include="'dialog/commentDialog.html'" ng-init="episode=dialog.episodeToComment"></div>
</truman-dialog>