<div ng-if="!dataLoaded" class="room-loading">
    <p><img src="images/empty.png"></p>
    <p><img src="images/loading-large.gif" alt="loading"/></p>
</div>
<div ng-if="dataLoaded" class="episode-page-wrapper">
    <div class="episode-ppt-sidebar-wrapper clearfix" ng-class="isFullscreen? 'fullscreen' : '' ">
        <div ng-include="'component/episodePPT.html'"></div>
        <div class="episode-ppt-zoom button" ng-click="pptZoomClick()" ng-hide="isFullscreen"></div>
        <div class="user-panel-wrapper" ng-hide="isFullscreen" ng-include="'component/episodeSidePanel.html'"></div>
    </div>
  <div class="episode-footer-wrapper" ng-include="'component/episodeFooter.html'"></div>
</div>

<truman-dialog ng-if="dialog.episodeToComment" on-close="hideCommentDialog()">
    <div ng-include="'dialog/commentDialog.html'" ng-init="episode=dialog.episodeToComment"></div>
</truman-dialog>
<truman-dialog ng-if="dialog.closing" on-close="hideClosingDialog()">
    <div ng-include="'dialog/closingDialog.html'"></div>
</truman-dialog>
<truman-dialog ng-if="dialog.entering" hide-close-button="true">
    <div class="entering-loading-dialog">
        <p><img src="images/loading-large.gif" alt="loading"/></p>
        <p ng-show="!dialog.reconnecting">正在进入教室</p>
        <p ng-show="dialog.reconnecting">网络有点问题，正在重新连接服务器</p>
    </div>
</truman-dialog>
<truman-dialog ng-if="dialog.closedLoading" hide-close-button="true">
    <div class="closed-loading-dialog">
        <p><img src="images/loading-large.gif" alt="loading"/></p>
        <p ng-if="dialog.closedLoading=='quit'">正在关闭教室</p>
        <p ng-if="dialog.closedLoading=='endClass'">正在下课</p>
    </div>
</truman-dialog>
