.content-wrap {
    height: 100%;
    width: 100%;
    overflow: auto;
    font-size: 13px;
    background-color: #EDEDED;


    a {
        .gt-icon {
            display: inline-block;
            margin-left: 4px;
            width: 10px;
            height: 10px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url('../images/gt-icon.png');
        }
    }
    a:hover {
        .gt-icon {
            background-image: url('../images/gt-icon-hover.png');
        }
    }
    a:active {
        .gt-icon {
            background-image: url('../images/gt-icon-active.png');
        }
    }

    .episode-list {
        padding: 10px;
        width: 920px;
        margin: 0 auto;
        height: auto;
    }

    .episode-list-hd, .episode-sets{
        padding: 5px 0 0 0;
        margin-top: 3px;
        overflow: hidden;
        ul {
            margin-bottom: 5px;
            list-style: none;
            position: relative;
        }
        li {
            float: left;
            overflow: hidden;
        }
        .main-nav {
            float: left;
            .nav-item {
                padding: 4px 0;
                margin: 0 8px;
                cursor: pointer;
                color: #999;
            }
            .nav-item:hover {
                color: #333;
            }
            .nav-item-active {
                color: #333;
                cursor: default;
                border-bottom: 2px solid #38CCAB;
            }
            .capsule {
                padding: 7px 15px;
                font-size: 13px;
                line-height: 13px;
                border-radius: 14px;
                border: 1px solid #dfdfdf;
                color: #999;
                margin-right: 10px;
            }
            .capsule-blue {
                &:hover {
                    color: #ffffff;
                }
                padding: 7px 15px;
                font-size: 13px;
                line-height: 13px;
                border-radius: 14px;
                color: #ffffff;
                background-color: #0099ff;
                border: 1px solid #0099ff;
                margin-right: 10px;
            }
        }
        .action-panel {
            float: left;
            margin-left: 10px;
            .episode-action {
                width: 24px;
                height: 24px;
                cursor: pointer;
                background-position: center;
                background-repeat: no-repeat;
            }
            .refresh-button {
                background-image: url('../images/refresh-button.png');
            }
            .refresh-button:hover {
                background-image: url('../images/refresh-button-hover.png');
            }
            .refresh-button:active {
                background-image: url('../images/refresh-button-active.png');
            }
        }
        .outer-links {
            float: right;
            .outer-link {
                line-height: 28px;
                margin-left: 20px;
            }
        }
    }
    .episode-sets {
        padding: 0;
    }
    
    .episode-list-bd {
        margin-top: 10px;
        position: relative;
        height: auto;
    }

    .episode-table {
        margin-bottom: 20px;
        background-color: #FFFFFF;

        table {
            border: 1px solid #DFDFDF;
            border-spacing: 0;
            border-collapse: collapse;
            font-size: 13px;
        }
        th {
            color: #A2A2A2;
            text-align: left;
            padding: 8px;
            font-weight: normal;
        }
        tr.dark {
            background: #F9F9F9;
        }
        td {
            color: #676767;
            padding: 5px 8px;
            border-top: 1px solid #DFDFDF;
            border-bottom: 1px solid #DFDFDF;
            margin: 0;
            p {
                margin: 8px 0;
            }
        }
        .episode-time {
            width: 258px;
        }
        th.episode-title {
            width: 414px;
        }

        td.episode-title {
            .up-part {
                .episode-title-name {
                    text-overflow: ellipsis;
                    white-space:nowrap;
                    overflow: hidden;
                    display: inline-block;
                    width: 330px;
                }

                .episode-download-material {
                    display: inline-block;
                    margin-left: -4px;
                }

                .episode-download-material_new {
                    display: inline-block;
                    float: right;
                    margin-top: 8px;
                }
            }
            .down-part {
                .left-side {
                    width: 230px;
                }

                .left-side-new {
                    width: 230px;
                }
            }
        }

        .episode-lecture {
            width: 182px;
            div {
                max-height: 48px;
                overflow: hidden;
            }
        }

        .episode-lecture_new {
            width: 2px;
            div {
                max-height: 48px;
                overflow: hidden;
            }
        }


        .episode-student-count {
            width: 82px;
        }
        .episode-status {
            width: 160px;
        }
        .episode-button {
            width: 100px;
            height: 40px;
            margin: 0;
            padding: 0;
            border-radius: 3px;
            position: relative;
            color: #FFF;
        }
        .episode-button-not-ready {
            cursor: default;
            background: #CCCCCC;
            .episode-button-icon {
                background-image: url('../images/episode-not-ready-icon.png');
            }
        }
        .episode-button-live {
            cursor: pointer;
            background: #22D5AC;
            .episode-button-icon {
                background-image: url('../images/episode-live-icon.png');
            }
        }
        .episode-button-live:hover, .episode-button-replay:hover {
            background: #00E7B7;
        }
        .episode-button-live:active, .episode-button-replay:active {
            background: #00B38A;
        }
        .episode-button-replay {
            cursor: pointer;
            background: #22D5AC;
            .episode-button-icon {
                background-image: url('../images/episode-replay-icon.png');
            }
        }
        .episode-button-converting {
            cursor: default;
            background: #CCCCCC;
            .episode-button-icon {
                background-image: url('../images/episode-not-ready-icon.png');
            }
        }
        .episode-button-expired {
            cursor: default;
            background: #CCCCCC;
            .episode-button-icon {
                background-image: url('../images/episode-expired-icon.png');
            }
        }

        .user_call-button {
            cursor: default;
            width: 40px;
            background: #22D5AC;
            .episode-button-icon {
                background-image: url('../images/user_call.png');
            }
        }
        .episode-button-icon {
            display: inline-block;
            width: 40px;
            height: 40px;
            background-position: center;
            background-repeat: no-repeat;
            float: left;
        }
        .episode-button-status {
            display: inline-block;
            line-height: 40px;
            margin: 0 0 0 -15px;
            width: 70px;
            text-align: center;
            padding: 0;
            float: left;
        }

        .episode-button-upd {
            display: inline-block;
            line-height: 40px;
            width: 100px;
            text-align: center;
            padding: 0;
            float: left;
        }
    }

    .episode-pager {
        margin-bottom: 20px;
        overflow: hidden;
        position: relative;
        ul {
            float: right;
            list-style: none;
            position: relative;
        }
        li {
            float: left;
            overflow: hidden;
            text-align: center;
            width: 20px;
            height: 20px;
            margin-left: 5px;
            line-height: 20px;
            font-size: 12px;
            font-family: "宋体";
            color: #9E9E9E;
        }
        .page-number {
            border-radius: 3px;
            cursor: pointer;
        }
        .page-number:hover {
            background: #FFF;
        }
        .page-number:active {
            background: #2ACB9E;
            color: #FFF;
        }
        .current-page-number {
            .page-number;
            background: #2ACB9E;
            color: #FFF;
        }
    }
    .loading {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        p {
            text-align: center;
        }
        .loading-icon {
        }
    }
    .empty-message {
        p {
            padding: 8px;
            margin: 0;
            color: #666;
        }
    }
}
