﻿<div class="content-wrap">
    <div class="search">
        <img src="../images/enter-logo.png">

        <form>
           <div class="s_center">
                <div>
                    <input class="s_ipt" type="text" ng-model="classId" tabindex="1" placeholder="请输入课程码（课程码可在移动端上获取）"
                           ng-keydown="showDropList(true)" ng-focus="showDropList(true);showGuide(false)" ng-blur="delayHideDropList()"
                           ng-mouseenter="showGuide(true)" ng-mouseleave="showGuide(false)" />
                    <input class="s_btn" value="听课" type="submit" ng-click="getClassByCode()"/>
                    <img src="../images/class-code.png" style="position: absolute;left: 400px; top: -146px" ng-show="showGuideImg">
                </div>

                <div ng-show="showpList">
                    <ul class="s_selbox">
                        <li ng-repeat="idx in courseHistory track by $index" >
                            <div>
                                <span ng-click="itemClick($event,$index)" style="width: 70px;overflow: hidden; display: inline-block; float: left">{{idx.courseId}}</span>
                                <span ng-click="itemClick($event,$index)" style="text-overflow: ellipsis; line-height: 22px; overflow:hidden; max-width:295px; display:inline-block; white-space: nowrap">{{idx.courseTitle}}</span>
                                <span ng-click="itemRemove($event,$index)" style="display: inline-block;float: right; margin-top: 2px;" >×</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="s_fav" ng-model="$parent.disableFavor" ng-show="!$parent.disableFavor">
                <a href="" ng-click="openFavorite()">我的收藏</a>
            </div>
        </form>

    </div>

    <div class="footer">
        <div>
            <img src="../images/enter-down.png">
        </div>
        <a  ng-click="openDownloadUrl()">扫描下载移动端应用</a>
    </div>
</div>


