.content-wrap {
    margin: auto;
    position: absolute;
    background-color: #FFFFFF;
    top: 0; left: 0; bottom: 0; right: 0;


    .search {
        text-align: center;
        margin-top: 110px;

        input:focus {
            outline:none;
            color: #000000;
            border-color: #0099ff;
        }

        form {
            margin-bottom: 0px;
        }

        .s_center {
            position: relative;
            width: 510px;
            margin: 0 auto;
            text-align: left;
        }

        .s_ipt {
            width: 400px;
            height: 36px;
            color: #CCCCCC;
            border: 1px inset;
            border-style: solid;
            margin: 0px;
            border-right:0px;
            text-indent: 5px;
        }

        .s_fav {
            margin-top: 16px;
        }

        .s_btn {
            width: 100px;
            height: 36px;
            border: 0px inset;
            margin: 0px;
            font-size: 14px;
            font-weight: bold;

            background-color: #09f;
            color: #fff;

            position: relative;
            left: -7px;

            &:hover {
                background: #4CB6FF;
            }
            &:active {
                background: #0E79D8;
            }
        }

        .s_selbox {
            width: 392px;
            color: #CCCCCC;
            line-height: 22px;
            cursor: pointer;

            position: absolute;
            left: 0px;
            top: 35px;
            margin: 0;
            padding: 3px;

            border: 1px solid #ccc;
            background-color: #fff;

            li {
                color: #333333;
                cursor: pointer;

                div {
                    width: 390px;
                    height: 22px;
                    line-height: 22px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 13px;
                }
            }
        }
    }

    .footer {
        margin-top: 16%;
        text-align: center;

        div {
            margin-bottom: 8px;
        }

        a {
            cursor:hand;
            color: #666;
        }
    }
}
