.room-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}
.replay-wrapper {
    background: #ededed;
    width: 100%;
    height: 100%;

    .replay-ppt-sidebar-wrapper{
        width: 100%;
        height: auto;
        box-sizing: border-box;
        top: 20px;
        bottom: 70px;
        position: absolute;
        &.fullscreen {
            top: 10px;
            bottom: 10px;
        }
        .replay-ppt-wrapper {
            box-shadow: 0 3px 3px #E2E2E2;
            position: absolute;
            left: 10px;
            right: 242px;
            width: auto;
            height: 100%;
            &.fullscreen {
                right: 10px;
            }
            &.bigger {
                right: 10px;
            }
        }

        .replay-ppt-zoom {
            width: 10px;
            height: 55px;
            background: url('../images/ppt-zoom-right.png') no-repeat center center #2AD4AA;
            &.bigger {
                background: url('../images/ppt-zoom-left.png') no-repeat center center #2AD4AA;
            }
            &:hover {
                background-color: #11EAB7;
            }
            &:active {
                background-color: #00B288;
            }
            font-size: 10px;
            font-weight: 900;
            color: #FFFFFF;
            line-height: 55px;
            text-align: center;
            position: absolute;
            right: 232px;
            top: 50%;
            margin-top: -27px;

            &.bigger {
                right: 0px;
            }
        }

        .user-panel-wrapper {
            position: absolute;
            height: 100%;
            bottom: 0px;
            top: 0px;
            width: 222px;
            right: 10px;
            z-index: 2;
            overflow: auto;
            box-shadow: 0 3px 3px #E2E2E2;
        }
    }
}
.closed-loading-dialog, .entering-loading-dialog {
    p {
        text-align: center;
        width: 240px;
    }
}
