body {
    min-width: 300px;
}
.update-page-wrapper {
    overflow: hidden;
    .header-wrapper {
        @header-width: 316px;
        @header-height: 62px;
        width: @header-width;
        height: @header-height;
        background-color: #F5F5F5;
        border-bottom: 2px solid #ECECEC;
        .logo {
            display: inline-block;
            margin: 0;
            position: absolute;
            background: url('../images/login-logo.png') no-repeat center center;
            @logo-width: 176px;
            @logo-height: 25px;
            width: @logo-width;
            height: @logo-height;
            left: (@header-width - @logo-width) / 2 - 15px;
            top: (@header-height - @logo-height) / 2;
        }
    }
    .update-content-wrapper {
        background-color: #FFF;
    }
    .update-available-wrapper {
        position: relative;

        .update-info {
            font-size: 16px;
            color: #666;
            width: 240px;
            height: 90px;
            margin: 20px 38px;
            white-space: normal;
            word-wrap: break-word;
            text-overflow:ellipsis;
            overflow: hidden;
            text-align: center;
        }
        .action-button {
            width: 70px;
            height: 26px;
            border-radius: 4px;
            border: 0px;
            cursor: pointer;

            color: #FFFFFF;
            text-align: center;
            line-height: 26px;

            background: #2AD4AA;
            &:hover {
                background: #11EAB7;
            }
            &:active {
                background: #00B288;
            }
            &.disabled {
                background: #CCC;
            }
        }
        .left-button {
            position: absolute;
            top: 110px;
            left: 36px;
        }
        .right-button {
            position: absolute;
            top: 110px;
            left: 186px;
        }
        .center-button {
            width: 170px;
            height: 26px;
            border-radius: 4px;
            border: 0px;
            cursor: pointer;

            margin: 0px auto;

            color: #FFFFFF;
            text-align: center;
            line-height: 26px;

            background: #2AD4AA;
            &:hover {
                background: #11EAB7;
            }
            &:active {
                background: #00B288;
            }
            &.disabled {
                background: #CCC;
            }
        }
    }
    .download-progress-wrapper {
        font-size: 12px;
        line-height: 12px;
        @progress-top: 60px;
        @progress-left: 20px;
        position: relative;
        .hint {
            color: #666;
            margin: 38px @progress-left 18px;
        }
        .progress-bg-bar {
            position: absolute;
            width: 214px;
            height: 10px;
            top: @progress-top;
            left: @progress-left;
            background: #EFEFEF;
            margin:0;
        }
        .progress-bar {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background: #37C7A1;
        }
        .progress {
            position: absolute;
            top: @progress-top;
            left: 260px;
            color: #3DCB9A;
        }
    }
    .install-update-wrapper {
        .hint {
            font-size: 14px;
            color: #666;
            margin: 38px 0 18px;
            text-align: center;
        }
        .install-button {
            width: 180px;
            height: 26px;
            border-radius: 4px;
            border: 0px;
            cursor: pointer;

            color: #FFFFFF;
            text-align: center;
            line-height: 26px;

            background: #2AD4AA;
            &:hover {
                background: #11EAB7;
            }
            &:active {
                background: #00B288;
            }
            &.disabled {
                background: #CCC;
            }

            margin: 56px 65px 50px;
        }
    }
}