<div class="header-wrapper" ng-controller="HeaderCtrl" ng-if="!isFullscreen">
    <div class="logo" ng-class="{1: 'teacher', 2: 'student', 3: 'admin', 4: 'assistant'}[trumanUserType]">
        <div class="truman-popout subject-switch"  popout-index="11" ng-if="!isSubjectSwitch && !disableFavor && trumanUserType === 2 " >
            <a href>{{subject}}<span class="subject-drop">&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
        </div>

        <div  id="popout_11" class="display-none">
            <div class="subject-menu-arrow" ng-class="firstChildHover?'hover' : ''"></div>
            <ul class="subject-menu">
                <li ng-repeat="idx in subjectList track by $index" ng-click="switchSubject($event,$index)" ><img ng-src="{{getImageById(idx)}}" ><span class="subject-item">[{{idx.name}}]</span></li>
            </ul>
        </div>
    </div>
    <span class="window-close pull-right" ng-click="close()"></span>
    <span class="pull-right" ng-class="isMaximize? 'window-restore' : 'window-maximize' " ng-click="maximize()">
    </span>
    <span class="window-minimize pull-right" ng-click="minimize()"></span>
    <span class="tip-arrow"></span>
    <span class="user-menu-controller button truman-popout pull-right" popout-index="0">{{loginUser}}</span>
    <span class="avatar button truman-popout pull-right" popout-index="0"></span>
    <div  id="popout_0" class="display-none">
        <div class="user-menu-arrow" ng-class="firstChildHover?'hover' : ''"></div>
        <ul class="user-menu">
            <li ng-click="showFeedbackDialog()" ng-mouseenter="firstChildHover=true" ng-mouseleave="firstChildHover=false">问题反馈</li>
            <li ng-if="trumanUserType === 2 || trumanUserType === 4 " ng-click="showNicknameDialog()">昵称设置</li>
            <li ng-click="showAboutDialog()">关于</li>
            <li ng-click="logout()">退出</li>
        </ul>
    </div>
    <truman-dialog ng-if="dialog.feedback" on-close="hideFeedbackDialog()">
        <div ng-include="'dialog/feedbackDialog.html'"></div>
    </truman-dialog>
    <truman-dialog ng-if="dialog.nickname" on-close="hideNicknameDialog()">
        <div ng-include="'dialog/nicknameDialog.html'"></div>
    </truman-dialog>
    <truman-dialog ng-if="dialog.about" on-close="hideAboutDialog()">
        <div ng-include="'dialog/aboutDialog.html'"></div>
    </truman-dialog>
</div>