<div class="about-dialog-wrapper" ng-controller="AboutCtrl">
    <div class="logo"></div>
    <div class="content">
        <div class="version" ngCloak>粉笔直播课 v{{versionInfo}}</div>
        <div class="newVersion">
            <span class="versionDesc" ng-show="!hasNewVersion">已是最新版本</span>
            <span class="versionDesc" ng-show="hasNewVersion">有新版</span>
            <div ng-show="hasNewVersion" class="update button" ng-click="updateNow()">
                马上更新
            </div>
        </div>
    </div>
    <div class="footer">
        © 2012-2016 粉笔 All Rights Reserved
    </div>
</div>
