<div class="episode-end-evaluate-wrapper" ng-controller="CommentCtrl">
    <p class="desc">直播已结束，你可以为此次课时评分</p>
    <p><truman-stars id="stars" on-rate="onRate"></truman-stars></p>
    <p class="word-count">{{comment.comment.length}} / <span ng-class="comment.comment.length>comment.wordLimit?'word-limit-exceeded':''">{{comment.wordLimit}}</span></p>
    <textarea placeholder="你的评论" ng-model="comment.comment"></textarea>
    <p class="button-wrapper">
    <button ng-disabled="comment.score==0 || comment.comment.length>comment.wordLimit" ng-class="submitting?'dialog-button-submitting':'dialog-button'" class="submit" ng-click="submit()">提交<span ng-if="submitting">中...</span></button>
    </p>
</div>
