<div class="microphone-setting" ng-controller="MicrophoneSettingCtrl">
	<div class="title">
		设置
	</div>

	<div class="button-wrapper">
		<span class="dialog-button microphone-button" ng-click="showSettingUi(true)">麦克风</span>
		<span class="dialog-button vedio-button" ng-click="showSettingUi(false)">视频</span>
	</div>

	<div ng-show="showSettingMic">
		<div class="choose-device">
			选择输入设备
			<select ng-model="selectedDevice" ng-options="recordingDevice for recordingDevice in recordingDevices">
			</select>
			<span ng-if="!recordingDevices.length" style="color: #FF001C">没有找到麦克风，请确认麦是否插入</span>
		</div>
		<div class="microphone-volume">
			<span>请对麦克风说话</span>
			<div class="microphone-energy-pannel">
				<span class="microphone" ng-show="inputMuteState"></span>
				<span class="microphone mute" ng-show="!inputMuteState"></span>
				<volume-energy class="microphone-energy" max-volume="6" current-volume="microphoneLevel"></volume-energy>
			</div>
		</div>
		<div class="volume-adjust">
			<span>音量调节</span>
			<div class="volume-adjust-panel">
				<span class="bugle" ng-show="!outputMuteState"></span>
				<span class="bugle mute" ng-show="outputMuteState"></span>
            <span class="slide-wrapper">
                <input class="slide" type="range" max="1" min="0" ng-model="outputVolumePercent" ng-change="setOutputVolume()" step="any" fill-color="'#2AD4AA'">
            </span>
			</div>
		</div>
		<div class="tip">如果能听到自己的声音表明麦克风正常。</div>
		<div class="button-wrapper">
			<div class="dialog-button submit-button" ng-click="hideMicrophoneSettingDialog()">确定</div>
		</div>
	</div>

	<div ng-show="!showSettingMic">
		<div class="choose-device" style='margin-bottom: 10px'>
			选择视频设备
			<select ng-model="selectedVideoDevice" ng-options="videoCapDevice for videoCapDevice in videoCapDevices">
			</select>
			<span ng-if="!videoCapDevices.length" style="color: #FF001C">没有找到摄像头</span>
		</div>

		<div>
			<canvas id="video-preview" style="width:300px; height: 150px; margin-left: 70px"></canvas>
		</div>
		<div class="button-wrapper">
			<div class="dialog-button submit-button" ng-click="hideMicrophoneSettingDialog()">确定</div>
		</div>
	</div>


</div>
