.login-body {
    -webkit-user-select: none;
    overflow: hidden;
    width: 296px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    .truman-login-wrapper {
        width: 100%;
        margin: 0px;
        top: 0px;
        left: 0px;
        border: 1px solid #ECECEC;
        border-radius: 4px;

        .header-wrapper {
            width: 100%;
            height: 62px;
            background-color: #F5F5F5;
            border-bottom: 2px solid #ECECEC;

            .logo {
                display: inline-block;
                position: absolute;
                background: url('../images/login-logo.png');
                width: 176px;
                height: 25px;
                left: 60px;
                top: 27px;
            }
            .window-minimize {
                display: inline-block;
                position: absolute;
                background: url('../images/window-minimize.png') no-repeat center center;
                &:hover {
                    background: url('../images/window-minimize-hover.png') no-repeat center center;
                }
                &:active {
                    background: url('../images/window-minimize-focus.png') no-repeat center center;
                }
                width: 20px;
                height: 20px;
                left: 249px;
            }

            .window-close {
                display: inline-block;
                position: absolute;
                width: 20px;
                height: 20px;
                background: url('../images/window-close.png') no-repeat center center;
                &:hover {
                    background: url('../images/window-close-hover.png') no-repeat center center;
                }
                &:active {
                    background: url('../images/window-close-focus.png') no-repeat center center;
                }
                left: 270px;
            }
        }

        .login-wrapper {
            width: 100%;
            font-size: 12px;

            .login-form {
                margin: 0px;

                form {
                    margin: 0px;
                    padding: 20px;
                }

                label {
                    color: #666666;
                    line-height: 20px;
                }

                input {
                    height: 21px;
                    border: 1px solid #C9C9C9;
                    border-radius: 2px;
                    padding: 1px;
                }

                .form-line {
                    position: relative;
                    overflow: hidden;

                    .form-left {
                        float: left;
                        width: 40px;
                    }

                    .form-center {
                        float: left;
                        width: 152px;
                    }

                    .form-right {
                        margin-left: 10px;
                        line-height: 20px;
                        float: left;
                    }
                }

                .user-name {
                    margin-bottom: 10px;
                    span {
                        color: #2BC8A0;
                        cursor: pointer;
                    }
                }

                .password {
                    margin-bottom: 4px;
                    span {
                        color: #2BC8A0;
                        cursor: pointer;
                    }
                }

                .err-message {
                    position: relative:
                    overflow: hidden;
                    margin-bottom: 4px;
                    span {
                        color: #FF0000;
                    }

                    .err-message-icon {
                        float: left;
                        width: 11px;
                        height: 16px;
                        margin-right: 7px;
                        background: url('../images/login-icon.png') no-repeat center center;
                    }
                    .err-message-content {
                        float: left;
                    }
                }

                .optional-operation {
                    height: 20px;
                    line-height: 20px;
                    margin-bottom: 10px;
                    overflow: hidden;
                    position: relative;

                    label {
                        color: #2BC8A0;
                        cursor: pointer;
                    }
                    input {
                        margin-right: 8px;
                        width: 11px;
                        height: 15px;
                        margin-left: 0px;
                        float: left;
                    }
                    span {
                        float: left;
                    }
                    .auto-login {
                        float: left;
                    }

                    .save-password {
                        float: left;
                        margin-left: 18px;
                    }
                }

                .login-button {
                    background: #22D5AC;
                    border-radius: 4px;
                    border: 0px;
                    cursor: pointer;
                    width: 152px;
                    position: relative;
                    color: #FFFFFF;
                    text-align: center;
                    line-height: 28px;
                }
                .login-button:hover {
                    background: #00E7B7;
                }
                .login-button:active {
                    background: #00B38A;
                }
            }

            .bottom-wrapper {
                width: 100%;
                height: 33px;
                background: #EEEEEE;

                /*.qq {
                    width: 20px;
                    height: 20px;
                    margin-left: 20px;
                    top: 5px;
                    float: left;
                    position: relative;
                    background: url('../images/qq.png') no-repeat center center;
                    &:hover {
                        background: url('../images/qq-hover.png') no-repeat center center;
                    }
                    &:active {
                        background: url('../images/qq-click.png') no-repeat center center;
                    }
                    cursor: pointer;
                }

                .sina {
                    width: 26px;
                    height: 26px;
                    margin-left: 89px;
                    top: 2px;
                    float: left;
                    position: relative;
                    background: url('../images/sina.png') no-repeat center center;
                    cursor: pointer;
                    &:hover {
                        background: url('../images/sina-hover.png') no-repeat center center;
                    }
                    &:active {
                        background: url('../images/sina-click.png') no-repeat center center;
                    }
                }

                .renren {
                    width: 36px;
                    height: 20px;
                    margin-left: 86px;
                    top: 5px;
                    float: left;
                    position: relative;
                    background: url('../images/renren.png') no-repeat center center;
                    cursor: pointer;
                    &:hover {
                        background: url('../images/renren-hover.png') no-repeat center center;
                    }
                    &:active {
                        background: url('../images/renren-click.png') no-repeat center center;
                    }
                }*/

            }

        }
    }
}
