.dialog-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    .dialog {
        border: 8px solid rgba(165, 216, 255, 0.5);
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        background-color: #FFFFFF;
        padding: 16px;
        .dialog-hd {
            position: relative;
            overflow: hidden;
            .dialog-title {
                float: left;
                margin: 0;
                padding: 0;
            }

            .dialog-close {
                float: right;
                width: 16px;
                height: 16px;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url('../images/dialog-close.png');
            }
            .dialog-close:hover {
                background-image: url('../images/dialog-close-hover.png');
            }
            .dialog-close:active {
                background-image: url('../images/dialog-close-active.png');
            }
        }
        .dialog-bd {
            .tip {
                margin: 8px 0 0 0;
                font-size: 12px;
            }
            .tip-icon {
                display: inline-block;
                width: 14px;
                height: 14px;
                background-position: center;
                background-repeat: no-repeat;
            }
            .tip-text {
                margin-left: 4px;
            }
            .tip-success {
                color: #24D5AF;
                .tip-icon {
                    background-image: url('../images/tip-icon-success.png');
                }
            }
            .tip-error {
                color: #FF001C;
                .tip-icon {
                    background-image: url('../images/tip-icon-error.png');
                }
            }
            .button-wrapper {
                text-align: center;
            }
            .dialog-button {
                margin: 0 auto 0 auto;
                text-align: center;
                font-size: 14px;
                cursor: pointer;
            }
            .dialog-button[disabled] {
                color: #CCC;
                border-color: #CCC;
                background-color: #F3F3F3;
                cursor: default;
            }
            .dialog-button-submitting {
                .dialog-button;
                border: 2px solid #1DD4AE;
                background-color: #1DD4AE;
                color: #FFF;
                cursor: default;
            }
        }
    }
}
