<div class ="popup-overlay">
    <div class ="popup-overlay-header"></div>
    <div class ="popup-overlay-content"></div>
</div>
<div class="dialog-wrapper">
    <div class="dialog">
        <div class="dialog-hd">
            <p class="dialog-title">{{title}}</p>
            <button ng-if="!hideCloseButton" class="dialog-close" ng-click="close()">&nbsp;</button>
        </div>
        <div class="dialog-bd" ng-transclude></div>
        <div class="dialog-ft"></div>
    </div>
</div>