.label-btn {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    color: #333333;
    padding: 2px 10px 2px 10px;
    border: solid #dfdfdf 1px;
    text-decoration: none;
}

.label-btn:hover {
    text-decoration: none;
    border: solid #0099ff 1px;
    color: #0099ff;
}

/* basic style */
.close {
    width: 10px;
    margin-left: -4px;
    position: relative;
    top: 1px;
}