.select_box {
  width:54px;
  position:relative;
  padding:0;
  font-size:12px;
  display:inline-block;

  .tri {
	cursor:pointer;
	width: 8px;
	height:10px;
	float: right;
	padding-left: 2px;
	padding-top: 6px;
	padding-right: 2px;
	border-width: 1px 1px 1px 0px;
	border-style: solid;
	border-color: #D1D1D1;

	&.hover {
	  background:#EEEEEE;
	}
  }

  .input_box {
	cursor:pointer;
	display: block;
	height:14px;
	overflow:hidden;
	padding: 1px 1px;
	//border:1px solid #ccc;
	border-width: 1px 0px 1px 1px;
	border-style: solid;
	border-color: #D1D1D1;

  }

  ul {
	position:absolute;
	left:0;
	top:20px;
	width: 100%;
	//border:1px solid #ccc;
	background:#ebebeb;
	overflow: hidden;
	display:none;
	z-index:99999;

	li {	  
	  display:block;
	  overflow:hidden;
	  padding:2px 4px;	  
	  cursor:pointer;

	  &:first-child {
		padding-top:2px;
	  }

	  &:last-child {
		padding-bottom:2px;
	  }
	  
	  margin: 0 auto;
	  vertical-align:middle;

	  &.hover {
		background:#ccc;
	  }
	}
  }
}

.triangle {
  width: 0;
  height: 0;
  float:right;
  display:inline-block;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #999999 transparent transparent transparent;
}


ul,li {list-style-type:none; padding:0; margin:0}
