.singal-bar {
    vertical-align: bottom;
    span {
        display: inline-block;
        width: 4px;
        height: 4px;
        margin-left: 4px;
    }

    .singal-weak {
        background-color: #D62007;
    }

    .singal-good {
        background-color: #00FF00;
    }

    .singal-strong {
        background-color: #00BB00;
    }

    .singal-gray {
        background-color: #C2C2C2;
    }
}