.grade-stars {
    display: inline-block;
    span {
        display: inline-block;
        width: 16px;
        height: 20px;
        margin: 0 3px 0 0;
    }
    .empty-star {
        background: url('../images/empty-star.png') no-repeat;
    }
    .full-star {
        background: url('../images/full-star.png') no-repeat;
    }
    &.editable {
        cursor: pointer;
    }
}