<div class='video-panel'>
	<div class='video-mask' ng-show='userid == "center"'></div>
	<canvas video width='{{width}}' height='{{height}}'></canvas>
	<!-- <canvas class='info-mask' width='{{width}}' height='{{height}}'></canvas> -->
	<div class='fb-img' ng-show='userid != "center" && !isvideoopen || userid == largeUid' width='{{width}}' height='{{height}}'>
		<div width='{{width}}' height='{{height}}' style='background-color: rgba(0,0,0,0.4)'>
			<span ng-show='userid != "center" && !isvideoopen'>学员未开视频</span>
			<span ng-show='userid == largeUid'>已展开至左侧窗口</span>
		</div>
	</div>
	<div class="info-mask" width='{{width}}' height='{{height}}'>
		<div class='banner-top' ng-if='userid == "center"'>
			<span class="left">{{nickname}}</span>
			<volume-energy class='left volume' max-volume="maxVolume" current-volume="currentVolume"></volume-energy>
			<div class="right countdown" ng-show='countdown.min1 || countdown.min0 || countdown.sec1 || countdown.sec0'>
				<div>{{countdown.min0}}</div>
				<div>{{countdown.min1}}</div>
				<span>：</span>
				<div>{{countdown.sec0}}</div>
				<div>{{countdown.sec1}}</div>
			</div>
		</div>
		<div class="banner-bottom"  ng-show='userid != "center"' width='{{width}}' height='{{height}}'>
			<img class='left' src="../images/teacher.png" ng-show='isTeacher' alt="">
			<span class='left'>{{nickname}}</span>
			<img class='right' src="../images/mic.png" alt="">
		</div>
	</div>
	<img class="switch-arrow" ng-show='switchable==true&&userid == largeUid' src='../images/arrow.png'/>
	<img class="switch" ng-show='switchable==true&&userid == largeUid' src='../images/switch-to-center-video.png'/>
	<img class="switch" ng-show='switchable==true&&userid != largeUid' src='../images/switch-to-center-video-open.png'/>
</div>