.video-panel {
	position: relative;
	background-color: lightgray;
	width: 100%;
	height: 100%;
	.right {
		float: right;
		margin-right: 5px;
	}
	.left {
		float: left;
		margin-left: 5px;
	}

	canvas[video], .info-mask, .fb-img {
		position: absolute;
		top: 0;
		left:0;
		right: 0;
		bottom: 0;
		margin: auto;
		.banner-top{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 50px;
		}
		.banner-bottom {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 20px;
			background: rgba(0,0,0,0.7);
			font-size: 12px;
			color: white;
			line-height: 20px;
			img {
				margin-top: 3px;
			}
		}
		.banner-top {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 50px;
			font-size: 12px;
			color: white;
			line-height: 50px;
			padding: 0 10px;
			.volume {
				margin-top: 22px;
			}
			.countdown {
				display: flex;
				color: #ff9800;
				div {
					color: white;
					background-color: #ff9800;
					height: 16px;
					width: 14px;
					font-size: 12px;
					line-height: 16px;
					text-align: center;
					margin-right: 3px;
					margin-top: 17px;
				}
			}
		}
	}
	.fb-img {
		background-image: url('../images/fb.png');
		background-repeat:no-repeat;
		background-position: center center;
		background-color: white;
		line-height: 90px;
		color: white;
		font-size: 12px;
		text-align: center;
	}
	.switch {
		position: absolute;
		top: 10px;
		right: 10px;
	}
	.switch-arrow {
		position: absolute;
		top: 10px;
		left: 10px;
	}
	.video-mask {
		position: absolute;
		top: 0;
		left:0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.70);
	}
}