.volume-energy-wrapper {
	display: inline-block;
	span {
		display: inline-block;
	}
	.volume-energy-bg {
		width: 4px; 
		height: 6px;
		background: #ededed;
		margin: 0 3px;
		.volume-energy-fill {
			width: 4px;
			height: 6px;
			background: rgb(153, 236, 215);
		}
	}
}