<div class="comment-stat" ng-controller="CommentStatCtrl">
    <div class="comment-block" ng-class="{true: 'left-side-new', false: 'left-side'}[newsytle]">
        <truman-stars class="comment-element" total-star="{{commentStat.totalStar}}" full-star="{{commentStat.avgStar}}" read-only="true"></truman-stars>
        <div ng-if="commentStat.count==0" class="last-comment-element count-zero">(还没有人评分)</div>
        <div ng-if="commentStat.count>0" class="last-comment-element count-no-zero">
            <span class="score">{{commentStat.avgScore}}</span><span>(<a ng-click="openComment()" href="">{{commentStat.count}}人</a>)</span>
        </div>
    </div>
    <div class="comment-block right-side">
        <a href ng-if="commentable && commentStat.myStar==0" class="comment-element" ng-click="comment()">评分</a>
        <div class="comment-element" ng-if="commentable && commentStat.myStar>0">我的评分</div>
        <truman-stars ng-if="commentable && commentStat.myStar>0" class="comment-element" read-only="true" total-star="{{commentStat.totalStar}}" full-star="{{commentStat.myStar}}"></truman-stars>
    </div>
</div>