<div class="empty-course-list" ng-controller="EmptyEpisodeListCtrl">
    <div class="desc">
        你未购买任何直播课，你可以选择以下课程
    </div>
    <div class="course-list">
        <div ng-repeat="course in courses" class="course" ng-click="openCourse(course)">
            <div class="logo">
                <p>[ {{course.name}} ]</p>
            </div>
            <div class="count">
                <p>已有<span class="episode-count">{{course.episodeCount}}</span>堂直播课</p>
            </div>
        </div>
    </div>
</div>
