<div class="episode-platform-wrapper" >
    <!--<div class="title-wrapper">
        <span class="title">讲台</span>
        <div ng-if="isTeacher" class="switch-button-tip">学生麦序</div>
        <div class="switch-button button"  ng-click="switchMicrophoneStatus()" ng-if="isTeacher">
            <div class="switch-button-bg" ng-class="{true: 'switch-on',false: 'switch-off'}[isMicrophoneQueueOpen]">
                <div class="switch-button-ball"></div>
            </div>
        </div>
        <div class="assistant-on-off-board" ng-if="isAssistant">
            <span class="assistant-on-board-disabled" ng-show="isMicrophoneQueueOpen || (isAssistantOnBoard && assistantUserId !== user.id)">
                上麦
            </span>
            <span ng-show="!isMicrophoneQueueOpen">
                <span ng-show="!isAssistantOnBoard && assistantUserId !== user.id" ng-click="assistantOnBoard();" class="assistant-on-board">上麦</span>
                <span ng-show="isAssistantOnBoard && assistantUserId === user.id" class="already-on-board">已上麦</span>
                <span ng-show="isAssistantOnBoard && assistantUserId === user.id" ng-click="assistantOffBoard ();" class="assistant-off-board">下麦</span>
            </span>
        </div>
    </div>-->

    <div class="teacher-volume-wrapper font-12">
        <span class="teacher-name" ng-class="teacherList.length>0?'teacher-in-class':''">[老师]{{episode.teacher.name}}</span>
        <span ng-if="teacherList.length <= 0" ng-cloak>(未进入教室)</span>
        <volume-energy class="teacher-volume-energy" ng-if="teacherList.length > 0" max-volume="6"  current-volume="teacherVolumeLevel"></volume-energy>
        <img src="./images/video-open.png" ng-if='isTeacherVideoOpen' alt="" />
        <img src="./images/video-close.png" ng-if='!isTeacherVideoOpen' alt="" />
    </div>

    <!--<div class="title-wrapper">
        <div ng-if="isTeacher" class="switch-button-tip">学生麦序</div>
        <div class="switch-button button"  ng-click="switchMicrophoneStatus()" ng-if="isTeacher">
            <div class="switch-button-bg" ng-class="{true: 'switch-on',false: 'switch-off'}[isMicrophoneQueueOpen]">
                <div class="switch-button-ball"></div>
            </div>
        </div>
    </div>-->

    <div class="grid" ng-if="isTeacher" >
        <div class="fluid label-switch">
            <div class="label">学生麦序</div>
            <div class="switch-button button"  ng-click="switchMicrophoneStatus()">
                <div class="switch-button-bg" ng-class="{true: 'switch-on',false: 'switch-off'}[isMicrophoneQueueOpen]">
                    <div class="switch-button-ball"></div>
                </div>
            </div>
        </div>

        <div class="fixed" ng-show="isMicrophoneQueueOpen"></div>

        <div class="fluid label-switch" ng-show="isMicrophoneQueueOpen">
            <div ng-if="isTeacher" class="label">视频</div>
            <div class="switch-button button"  ng-click="switchVideoStatus(!isVideoMicOpen)">
                <div class="switch-button-bg" ng-class="{true: 'switch-on',false: 'switch-off'}[$parent.isVideoMicOpen]">
                    <div class="switch-button-ball"></div>
                </div>
            </div>
        </div>

    </div>

    <div class="assistant-volume-energy ng-cloak font-12" ng-if="isAssistantOnBoard">
        <span class="assistant-name">[助教]{{getUser(assistantUserId).name}}</span>
        <volume-energy class="assistant-volume-energy" max-volume="6"  current-volume="assistantVolumeLevel"></volume-energy>
    </div>
</div>

<div class="microphone-sequence-queue font-12" ng-if="isMicrophoneQueueOpen">
    <div class="sequence-header">
        <span class="title">麦序队列（{{microphoneList.length}}/{{microphoneQueueCapacity}}）</span>
        <span class="mic-clock" ng-if="microphoneSettingTimer && microphoneList.length ">
            <span>{{microphoneClockMin0}}</span>
            <span>{{microphoneClockMin1}}</span>
            <span style="background-color:transparent;color:rgb(255,152,0);font-weight: 200;font-size: 18px; width: 7px;margin-right: -5px;margin-left: -4px;">:</span>
            <span>{{microphoneClockSec0}}</span>
            <span>{{microphoneClockSec1}}</span>
        </span>

       <!--  <span class="status">
            <span ng-if="isRevokeMicrophone()">已进麦序</span>
            <span ng-if="isCancelMicrophone()">已上麦</span>
        </span> -->
        <div class="microphone-controller green-clickable" ng-if="isTeacher && microphoneList.length > 0" ng-click="cancelAllMicrophone()">
            <span class="clear-microphone-icon button"></span>
            <span class="clear-microphone-list">清空</span>
        </div>
        <div class="microphone-controller green-clickable" ng-if="isStudent">
            <div class="disable-apply-microphone" ng-if="shouldDisableMicrophoneButton()">
                抢麦
            </div>
            <div ng-if="!shouldDisableMicrophoneButton()">
                <span ng-if="isApplyMicrophone()" ng-click="applyMicrophone()">
                    <span ng-show="!isVideoMicOpen">抢麦</span>
                    <span ng-show="isVideoMicOpen">视频</span>
                </span>
                <span ng-if="isRevokeMicrophone()" ng-click="revokeMicrophone(user.id)">取消</span>
                <span ng-if="isCancelMicrophone()" ng-click="revokeMicrophone(user.id)">下麦</span>
            </div>
        </div>
    </div>
    <div class="sequece-list">
        <div class="empty-tip" ng-if="microphoneList.length <= 0" ng-cloak>还没有人上麦序</div>
        <div class="sequece-list-item" ng-repeat="student in microphoneList">
            <span class="student-index">{{$index + 1}}.</span>
            <span class="student-name"  ng-class="student.userId === userId?'my-nickname':''">{{getUser(student.userId).name}}</span>
            <span ng-if="isMicrophoneQueueOpen && student.channelId >= 0">
                <volume-energy class="student-volume-energy" max-volume="6"  current-volume="student.volumeLevel"></volume-energy>
            </span>
            <span class="microphone-state green-clickable">
            <span ng-if="isMicrophoneQueueOpen && isTeacher">
                <span ng-if="student.channelId >= 0" ng-click="revokeMicrophone(student.userId)">
                    下麦
                </span>
                <span ng-if="student.channelId < 0" ng-click="approveMicrophone(student.userId)">
                    给麦
                </span>
            </span>
            <span ng-if="isMicrophoneQueueOpen && !isTeacher">
                <img src="./images/video-open.png"  ng-if='student.isVideoOpen' alt="">
                <img src="./images/video-close.png"  ng-if='!student.isVideoOpen' alt="">
            </span>
            </span>
        </div>
    </div>
</div>
