 <div class="user-list-wrapper-inner" ng-controller="UserListCtrl">
    <div class="user-list-arrow"></div>
    <div class="user-list-content">
        <div class="search-user-wrapper">
            <span class="search-magnifier"></span>
            <input class="search-input" type="text" ng-model="searchParam" ng-focus="onSearchInputFocus()" ng-blur="onSearchInputBlur();"/>
            <span class="search-clear-input" ng-click="clearSearchParam();" ng-show="showClearInput"></span>
        </div>
        <ul class="user-list" ng-if="!searchParam && !noSearchResult">
            <li>
                <span>[老师]{{episode.teacher.name}}</span>
            </li>
            <li class="clearfix" ng-repeat="assistant in assistantList ">
                <span>[助教]{{getUser(assistant).name}}</span>
            </li>
            <li class="clearfix" ng-repeat="student in studentListUi track by $index" ng-mouseenter="onMouseenter($event)" ng-mouseleave="onMouseleave($event)">
                <span class="left-part" ng-if="student.right === 0">[旁观学生]{{getUserName(student)}}</span>
                <span class="left-part" ng-if="student.right > 0">[报名学生]{{getUserName(student)}}</span>
                <span class="left-part" ng-if="student.right < 0">{{getUserName(student)}}</span>

                <span class="right-part display-none">
                    <span class="ban-chat" ng-if="!inArray(student.id, bannedUserList)" ng-click="banUser(student.id)">禁言</span>
                    <span class="already-ban-chat" ng-if="inArray(student.id, bannedUserList)">已禁言</span>
                    <span class="unban-chat" ng-if="inArray(student.id, bannedUserList)" ng-click="unBanUser(student.id)">解除禁言</span>
                </span>
            </li>
        </ul>
        <ul class="user-list" ng-if="searchParam && !noSearchResult">
            <li class="clearfix" ng-repeat="user in searchResultList">
                <span ng-if="user === episode.teacher.userId">
                    [老师]{{episode.teacher.name}}
                </span>
                <span ng-if="inArray(user,
                assistantList)">
                    [助教]{{getUser(user.id).name}}
                </span>
                <span ng-if="user !== episode.teacher.userId && !inArray(user, assistantList)">
                    <span class="left-part" ng-if="getUser(user).right === 0">[旁观学生]{{getUserName(student)}}</span>
                    <span class="left-part" ng-if="getUser(user).right > 0">[报名学生]{{getUserName(student)}}</span>
                    <span class="left-part" ng-if="getUser(user).right < 0">{{getUserName(student)}}</span>

                    <span class="right-part">
                        <span class="ban-chat" ng-if="!inArray(user, bannedUserList)" ng-click="banUser(user)">禁言</span>
                        <span class="already-ban-chat" ng-if="inArray(user, bannedUserList)">已禁言</span>
                        <span class="unban-chat" ng-if="inArray(user, bannedUserList)" ng-click="unBanUser(user)">解除禁言</span>
                    </span>
                </span>

            </li>
        </ul>
        <ul class="user-list" ng-if="searchParam && noSearchResult">
            <li>没有找到此人</li>
        </ul>
    </div>
</div>