<div class = "episode-chat-panel" id = "chat-panel" ng-controller="EpisodeChatCtrl">
    <div class="online-person">
        聊天
        <div ng-if="isStudent || isAdmin" class="online-person-value" >（{{userCount}}人在线）</div>
        <div ng-if="isTeacher || isAssistant" class="online-person-value teacher" truman-popout popout-index="3">
            （{{userCount}}人在线）
             <div id="popout_3" class="user-list-wrapper display-none">
                <div ng-include="'component/episodeUserList.html'"></div>
            </div>
        </div>
    </div>
    <div class="message-list-wrapper font-12">
        <ul class="message-list">
            <li ng-if="!loadingMessage && hasMoreMessage">
                <a class="button load-more" ng-click="loadHistoryMessage()">查看更多消息</a>
            </li>
            <li ng-show="loadingMessage">
                <a class="button load-more">正在加载...</a>
            </li>
            <li class="top-message" ng-class="latestTopMessage.userId === episode.teacher.userId?'teacher' : 'assistant'" ng-show="latestTopMessageId">
                <span ng-if="latestTopMessage.userId === episode.teacher.userId">[老师]{{getUser(latestTopMessage.userId).name}}：</span>
                <span ng-if="inArray(latestTopMessage.userId, allAssistantList)">[助教]{{getUser(latestTopMessage.userId).name}}：</span>
                <span class="latest-top-message-content">{{latestTopMessage.content}}</span>
                <span ng-if="isTeacher || isAssistant" class="cancel-top-message" ng-click="cancelTopMessage()"></span>
            </li>
            <li class="one-chat-message" ng-class="chatMessage.userId === episode.teacher.userId?'teacher' : inArray(chatMessage.userId, allAssistantList) ? 'assistant' : 'student' " ng-repeat="chatMessage in chatMessageList">
                <span ng-if="chatMessage.messageId != latestTopMessageId">
                    <span class="chat-message-nickname" ng-class="isStudent ? 'student': ''">
                        <span ng-class="chatMessage.userId === userId?'my-nickname':''">
                            <span ng-if="chatMessage.userId === episode.teacher.userId">[老师]{{getUser(chatMessage.userId).name}}：</span>
                            <span ng-if="inArray(chatMessage.userId, allAssistantList)">[助教]{{getUser(chatMessage.userId).name}}：</span>
                            <span ng-if="(isTeacher || isAssistant) && chatMessage.userId !== episode.teacher.userId && !inArray(chatMessage.userId, allAssistantList)" ng-class="(isTeacher || isAssistant) ? 'ban-hovering' : ''" class="ban-unban-wrapper" truman-popout popout-inner="true" popout-mutual-id="1" on-show="resetBanPosition(elem)" >{{getUser(chatMessage.userId).name}}：
                                <span class="popout ban-unban-chat display-none">
                                    <span ng-show="!inArray(chatMessage.userId, bannedUserList)" ng-click="banUser(chatMessage.userId)">
                                        禁言
                                    </span>
                                    <span ng-show="inArray(chatMessage.userId, bannedUserList)" ng-click="unBanUser(chatMessage.userId)">
                                        解除禁言
                                    </span>
                                </span>
                            </span>
                             <span ng-if="!(isTeacher || isAssistant) && chatMessage.userId !== episode.teacher.userId && !inArray(chatMessage.userId, allAssistantList)">{{getUser(chatMessage.userId).name}}：
                         </span>
                    </span>
                    <chat-message class="chat-message-content" ng-class="chatMessage.userId === userId?'my-nickname':''" message="{{chatMessage.content}}"></chat-message>
                    </span>
                </span>
            </li>
        </ul>
        <div class="has-new-message" ng-click="scrollToBottom();" ng-if="hasNewMessage">
            <span class="has-new-message-content">有新消息</span>
            <span class="has-new-message-arrow"></span>
        </div>
    </div>
    <div class="chat-bottom" ng-show="!isAdmin">
        <div class="send-message-info clearfix">
            <div class="nickname">{{user.name}}</div>
            <div ng-if="isTeacher || isAssistant" class="set-pinned">
              <span ng-show="pinned" ng-click="setNotPinned()" class="chat-pinned"></span>
              <span ng-show="!pinned" ng-click="setPinned()" class="chat-not-pinned"></span>
              <span>
                  置顶
              </span>
            </div>
            <div ng-if="isTeacher || isAssistant" class="set-banned">
                <span ng-show="banned" ng-click="setNotBanned()" class="chat-banned"></span>
                <span ng-show="!banned" ng-click="setBanned()" class="chat-not-banned"></span>
                <span>
                    禁言
                </span>
            </div>
            <div ng-if="isStudent" class="send-fast">{{sendFail}}</div>
        </div>
        <div class="send-message-input-wrapper clearfix font-12">
            <textarea class="send-message-input" ng-model="draft" ng-minlength="0" ng-keydown="enterSendChatMessage($event)"  truman-maxlength="{{messageMaxLength}}" ng-show="!inArray(user.id, bannedUserList)"></textarea>
            <textarea class="send-message-input disabled" ng-show="inArray(user.id, bannedUserList)" disabled>你已被禁言，无法聊天</textarea>
            <div class="send-message-confirm button" ng-disabled="inArray(user.id, bannedUserList)" ng-click="sendChatMessage()"></div>
        </div>
    </div>
</div>
