<div class="episode-footer" id='epi-footer' ng-controller='EpisodeFooterCtrl' ng-if="!isFullscreen" ng-click='showStatus(this)'>

    <div class="camera button mute" ng-click="stopSendVideo();" ng-show="cameraOpenState"></div>
    <div class="camera button unMute" ng-click="beginSendVideo();" ng-show="!cameraOpenState"></div>

    <div class="microphone button mute" ng-click="unMuteInput();" ng-show="inputMuteState" ></div>
    <div class="microphone button unMute" ng-click="muteInput();" ng-show="!inputMuteState" ></div>

    <div class="settings button truman-popup" ng-click="showMicrophoneSettingDialog()">
    </div>

    <!--<div ng-if="isTeacher" class="folder button" ng-click=""></div>-->
    <div ng-if="isTeacher" class="clock button" ng-click="setMicTimer()"></div>

    <div class="mic-setting" ng-show="showMicTimerSetting">
        <span>麦时长（分钟）&nbsp;</span>
        <div class="color-sel"  id="set_mic">
            <select>
                <option>0</option>                
                <option>5</option>
                <option>10</option>
                <option>15</option>
                <option>20</option>
            </select>
        </div>
        <a class="button" ng-click="setMicrophoneTime();">&nbsp;确定</a>
    </div>


    <!--<div class="bugle button truman-popout mute" ng-click="unMuteOutput();" ng-show="outputMuteState" popout-index="2"></div>
    <div class="bugle button truman-popout unMute" ng-click="muteOutput();" ng-show="!outputMuteState" popout-index="2"></div>-->
    <div id="popout_1" class="microphone-setting display-none">
      <div class="volume-setting-bg">
          <input class="slide" type="range" max="1" min="0" ng-model="inputVolumePercent" ng-change="setInputVolume()" step="any" fill-color="'#2AD4AA'">
      </div>
    </div>

    <!--<div id="popout_2" class="bugle-setting display-none">
      <div class="volume-setting-bg">
          <input class="slide" type="range" max="1" min="0" ng-model="outputVolumePercent" ng-change="setOutputVolume()" step="any" fill-color="'#2AD4AA'">
      </div>
    </div>-->


    <div class="net-static" ng-if="clickTimes >= 5">
        网络统计
        <span>丢包:{{lost}}</span> <span>延时:{{delay}}</span>
        <span>PING:{{rtt}}</span> <span>接收:{{recvbytes}}</span>
        <span>发送:{{sendbytes}}</span>
    </div>

    <div class="class-timer" ng-if="!isClassStarted && !isTimeUp">
        距离开课
        <span class="normal-time"><timer end-time="classOpenTime" max-time-unit="'minute'">{{mminutes}}:{{sseconds}}</timer></span>
    </div>
    <div class="class-timer" ng-if="!isClassStarted && isTimeUp">
        开课时间已过
        <span class="normal-time"><timer start-time="classOpenTime" max-time-unit="'minute'">{{mminutes}}:{{sseconds}}</timer></span>
    </div>
    <div class="class-timer" ng-if="isClassStarted">
        已开课
        <span class="normal-time" ng-if="!isOvertime"><timer start-time="classStartTime" max-time-unit="'minute'">{{mminutes}}:{{sseconds}}</timer></span>
        <span class="normal-time" ng-if="isOvertime">{{classDuration}}</span>
        <span class="overtime" ng-if="isOvertime"><timer start-time="classCloseTime" max-time-unit="'minute'">+{{mminutes}}:{{sseconds}}</timer></span>
    </div>

    <div class="finish-class button" ng-click="endClass()" ng-if="isTeacher && isClassStarted"></div>
    <truman-dialog ng-if="dialog.microphoneSetting" on-close="hideMicrophoneSettingDialog()">
        <div ng-include="'dialog/microphoneSetting.html'"></div>
    </truman-dialog>
</div>
