<div class="quiz-student-mask-html" ng-controller="AnswerCtrl">
    <div class="content">
        <div class="selection-item" ng-class="{'multiselect':question.type == 2}">
            <span class="selection-item-size" ng-repeat="opt in question.labels">
                <span class="selection-item-text" ng-click="clickOption(opt);" ng-class="opt.selected?'selected':''"><span>{{opt.text}}</span></span>
            </span>            
        </div>
        <div class="quiz-mask-submit">
            <div class="center-btn" ng-click="dosubmit()">
                <span class="episode-button-status">提交</span>
            </div>
        </div>
    </div>
</div>