<div class="replay-platform-wrapper" >
    <!--<div class="title-wrapper">
        <span class="title">讲台</span>
    </div>-->
    <div class="teacher-volume-wrapper font-12">
        <span class="teacher-name" ng-class="teacherList.length>0?'teacher-in-class':''">[老师]{{episode.teacher.name}}</span>
        <span ng-if="teacherList.length <= 0" ng-cloak>(未进入教室)</span>
        <volume-energy class="teacher-volume-energy" ng-if="teacherList.length > 0" max-volume="6"  current-volume="teacherVolumeLevel"></volume-energy>
    </div>
    <div class="assistant-volume-energy ng-cloak font-12" ng-if="isAssistantOnBoard">
        <span class="assistant-name">[助教]{{getUser(assistantUserId).name}}</span>
        <volume-energy class="assistant-volume-energy" max-volume="6"  current-volume="assistantVolumeLevel"></volume-energy>
    </div>
</div>

<div class="replay-microphone-sequence-queue font-12" ng-if="isMicrophoneQueueOpen">
    <div class="sequence-header">
        <span class="title">麦序队列（{{microphoneList.length}}/{{microphoneQueueCapacity}}）</span>
    </div>
    <div class="sequece-list">
        <div class="empty-tip" ng-if="microphoneList.length <= 0" ng-cloak>还没有人上麦序</div>
        <div class="sequece-list-item" ng-repeat="student in microphoneList">
            <span class="student-index">{{$index + 1}}.</span>
            <span class="student-name"  ng-class="student.userId === userId?'my-nickname':''">{{getUser(student.userId).name}}</span>
            <span ng-if="isMicrophoneQueueOpen && student.channelId >= 0">
                <volume-energy class="student-volume-energy" max-volume="6"  current-volume="student.volumeLevel"></volume-energy>
            </span>
        </div>
    </div>
</div>
