.about-dialog-wrapper {
    width: 340px;
    .logo {
        width: 100px;
        height: 100px;
        margin: 15px 0 30px 120px;
        display: inline-block;
        background: url('../images/about-icon.png') no-repeat center center;
    }
    .content {
        text-align: center;
        .version {
            font-size: 14px;
            color: #606060;
            margin-bottom: 25px;
        }
        .newVersion {
            margin-bottom: 20px;
            .versionDesc {
                font-size: 12px;
                color: #999999;
            }
            .update {
                width: 100px;
                height: 40px;
                margin-left: 120px;
                margin-top: 20px;
                border: #2BD2A9 2px solid;
                color: #2BD2A9;
                font-size: 15px;
                line-height: 40px;
            }
        }

    }
    .footer {
        font-size: 12px;
        color: #9F9F9F;
        text-align: center;
    }
}