<div class="closing-dialog" ng-controller="ClosingCtrl">
    <p>
    <img src="images/loading-large.gif" alt="loading"/>
    </p>
    <p>即将下课，直播室将在（{{secondsLeft}}）秒后关闭</p>
    <p>
    <button class="dialog-button" ng-click="cancel()">取消</button>
    </p>
</div>
