.closing-dialog {
    p {
        color: #666;
        width: 240px;
        text-align: center;
    }
    .dialog-button {
        width: 100px;
        height: 40px;
        margin: 0 auto 0 auto;
        color: #2BCE9A;
        border: 2px solid #2BCE9A;
        text-align: center;
        line-height: 36px;
        font-size: 14px;
        cursor: pointer;
    }
    .dialog-button:hover {
        border-color: #00E9BC;
        color: #00E9BC;
    }
    .dialog-button:active {
        color: #FFF;
        border-color: #1DD4AE;
        background-color: #1DD4AE;
    }
    .dialog-button[disabled] {
        color: #CCC;
        border-color: #CCC;
        background-color: #F3F3F3;
        cursor: default;
    }
}
