.episode-end-evaluate-wrapper {
    .desc {
        color: #666;
    }
    .word-count {
        text-align: right;
        color: #CCC;
        font-size: 12px;
        margin: 10px 0;
        padding: 0;
    }
    .word-limit-exceeded {
        color: #F00;
    }
    textarea {
        background: #F5F5F5;
        width: 300px;
        height: 140px;
        display: block;
        margin: 10px 0;
        padding: 10px;
    }
    .button-wrapper {
        text-align: center;
    }
    .dialog-button {
        width: 100px;
        height: 40px;
        margin: 0 auto 0 auto;
        color: #2BCE9A;
        border: 2px solid #2BCE9A;
        text-align: center;
        line-height: 36px;
        font-size: 14px;
        cursor: pointer;
    }
    .dialog-button:hover {
        border-color: #00E9BC;
        color: #00E9BC;
    }
    .dialog-button:active {
        color: #FFF;
        border-color: #1DD4AE;
        background-color: #1DD4AE;
    }
    .dialog-button[disabled] {
        color: #CCC;
        border-color: #CCC;
        background-color: #F3F3F3;
        cursor: default;
    }
    .dialog-button-submitting {
        .dialog-button;
        border: 2px solid #1DD4AE;
        background-color: #1DD4AE;
        color: #FFF;
        cursor: default;
    }
}
