<div class="feedback-dialog" ng-controller="FeedbackCtrl">
    <div class="section">
        <div class="label">反馈内容</div>
        <div class="input"><textarea ng-model="feedback.content"></textarea></div>
    </div>
    <div class="section-tip tip tip-error" ng-if="feedback.contentTip">
        <span class="tip-icon">&nbsp;</span><span class="tip-text">{{feedback.contentTip}}</span>
    </div>
    <div class="section">
        <div class="label">图片</div>
        <div class="input file-input-wrap">
            <div class="left file-input-icon" ng-click="uploadFile()">浏览</div>
            <div class="left hidden no-size">
                <input type="file" name="image" id="fileInput" ng-file-select="onFileSelect($files)" accept="image/*"/>
            </div>
            <div ng-if="!feedback.image" class="left desc">支持小于1M的png、jpg格式图片</div>
            <div ng-if="feedback.image" class="left desc">{{feedback.image.name}}</div>
        </div>
    </div>
    <div class="section-tip tip tip-error" ng-if="feedback.imageTip">
        <span class="tip-icon">&nbsp;</span><span class="tip-text">{{feedback.imageTip}}</span>
    </div>
    <div class="section">
        <div class="label">联系方式</div>
        <div class="input"><input type="text" id="contactInput" placeholder="手机/邮箱/QQ" maxlength="40" ng-model="feedback.contact"/></div>
    </div>
    <div class="section section-button">
        <button ng-class="submitting?'dialog-button-submitting':'dialog-button'" class="submit" ng-click="submit()">提交<span ng-if="submitting">中...</span></button>
    </div>
</div>
