.feedback-dialog {
    .section {
        position: relative;
        overflow: hidden;
        margin-top: 15px;
    }

    .section-tip {
        padding-left: 75px;
    }

    .section-button {
        text-align: center;
    }

    .label {
        line-height: 26px;
        height: 26px;
        float: left;
        width: 60px;
        text-align: right;
        color: #999;
    }
    .input {
        margin-left: 15px;
        float: left;
    }

    #fileInput {
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
    }

    .file-input-wrap {
        position: relative;
        overflow: hidden;
        .no-size {
            width: 0;
            height: 0;
            margin: 0;
            padding: 0;
        }
    }

    .file-input-icon {
        width: 50px;
        height: 24px;
        line-height: 26px;
        border: 1px solid #2BCE9A;
        color: #2BCE9A;
        border-radius: 3px;
        text-align: center;
        cursor: pointer;
    }
    .file-input-icon:hover {
        border-color: #11EAb7;
        color: #11EAB7;
    }
    .file-input-icon:active {
        border-color: #00B288;
        color: #00B288;
    }

    .left {
        float: left;
    }

    .desc {
        line-height: 26px;
        height: 26px;
        font-size: 12px;
        color: #CCC;
        margin-left: 15px;
    }

    #contactInput {
        background: #F5F5F5;
        border: 0;
        color: #666;
        font-size: 13px;
    }

    textarea {
        background: #F5F5F5;
        width: 300px;
        height: 80px;
        display: block;
        padding: 10px;
        color: #666;
    }
    .button-wrapper {
        text-align: center;
    }
    .dialog-button {
        width: 100px;
        height: 40px;
        margin: 0 auto 0 auto;
        color: #2BCE9A;
        border: 2px solid #2BCE9A;
        text-align: center;
        line-height: 36px;
        font-size: 14px;
        cursor: pointer;
    }
    .dialog-button:hover {
        border-color: #00E9BC;
        color: #00E9BC;
    }
    .dialog-button:active {
        color: #FFF;
        border-color: #1DD4AE;
        background-color: #1DD4AE;
    }
    .dialog-button[disabled] {
        color: #CCC;
        border-color: #CCC;
        background-color: #F3F3F3;
        cursor: default;
    }
    .dialog-button-submitting {
        .dialog-button;
        border: 2px solid #1DD4AE;
        background-color: #1DD4AE;
        color: #FFF;
        cursor: default;
    }
}
