<div class="label-dialog" ng-controller="LabelCtrl">
    <div class="label-title">
        选择标签
    </div>

    <div class="label_box">
        <span class="labels" ng-repeat="idx in labels track by $index">
            <truman-label  label-text="{{idx}}" ng-click="selectLabel($index)"; ></truman-label>
        </span>
    </div>

</div>
