.label-dialog {
    min-height: 100px;
    min-width: 400px;
    line-height: 30px;

    .label-title {
        position: relative;
        top: -14px;
        max-width: 200px;
    }

    .label_box {
        min-height: 100px;
        min-width: 400px;

        .labels {
            margin-right: 20px;
            margin-bottom: 10px;
            display: inline-block;
        }
    }
}


