.microphone-setting {
    font-size: 12px;
    color: #878787;
    width: 340px;
    height: 360px;
    .title {
        font-size: 16px;
        color: #535353;
        padding-bottom: 15px;
        border-bottom: 1px #DFDFDF dashed;
    }
    .microphone-button {
        color: white;
        background-color: rgb(26, 152, 250);
        border-radius: 6px 0 0 6px;
        padding: 5px 50px;
        border-width: 0;
    }
    .vedio-button {
        background-color: rgb(238, 241, 249);
        border-radius: 0px 6px 6px 0;
        padding: 5px 50px;
        border-width: 0;
    }
    .submit-button {
        color: white;
        background-color: rgb(26, 152, 250);
        border-radius: 4px;
        height: 30px;
        width: 80px;
        margin: 10px auto;
        line-height: 30px;
        border-width: 0;
    }
    .choose-device {
        margin: 25px 0 30px 0;
    }
    .microphone-volume {
        float: left;
        margin-bottom: 30px;
        .microphone-energy-pannel {
            margin: 10px 0 0;
            .microphone {
                display: inline-block;
                background: url("../images/microphone-focus.png");
                width: 25px;
                height: 26px;
                &.mute {
                    background: url("../images/microphone-test-mute.png");
                }
            }
            .microphone-energy {
                position: relative;
                bottom: 9px;
            }
        }
    }
    .volume-adjust {
        float: right;
        margin-bottom: 30px;
        .volume-adjust-panel {
            margin: 10px 0 0;

            .bugle {
                display: inline-block;
                background: url("../images/bugle-focus.png");
                width: 27px;
                height: 26px;
                margin-right: 10px;
                &.mute {
                    background: url("../images/bugle-test-mute.png");
                }
            }

            .slide-wrapper {
                display: inline-block;
                position: relative;
                top: -13px;

                .slide::-webkit-slider-thumb {
                    background: #2AD4AA;

                    &:hover {
                        background: #00B288;
                    }
                }
            }
        }
    }
    .tip {
        clear: both;
    }
    .button-wrapper {
        margin-top: 30px;
    }
}
