.nickname-dialog {
    p {
        margin: 16px 0 0 0;
        color: #676767;
    }
    input {
        border: 1px solid #C9C9C9;
        border-radius: 3px;
        width: 300px;
        height: 26px;
        line-height: 18px;
        padding: 4px;
    }
}
