<div class="nickname-dialog" ng-controller="NicknameCtrl">
    <p>设置你的昵称</p>
    <p>
        <input class="text-input" ng-show="!inEpisode" ng-model="nickname" type="text"  placeholder="你的昵称"/>
        <input class="text-input disabled" ng-model="nickname" placeholder="你的昵称" ng-show="inEpisode" disabled/>
    </p>
    <p class="tip tip-{{tipType}}" ng-if="tip && !inEpisode">
        <span class="tip-icon">&nbsp;</span>
        <span class="tip-text">{{tip}}</span>
    </p>
    <p class="tip-error" ng-if="inEpisode">
        <span class="tip-text">直播期间无法修改昵称</span>
    </p>
    <p class="button-wrapper">
        <button class="dialog-button" ng-if="!inEpisode" ng-click="submit()">保存</button>
        <button class="dialog-button disabled" ng-if="inEpisode" disabled>保存</button>
    </p>
</div>