.user-count-dialog {
    min-height: 100px;
    min-width: 400px;
    line-height: 30px;
    width: 518px;
    height: 319px;

    .label-title {
        font-size: 16px;
        color: #535353;
        margin-top: -20px;
        padding-bottom: 10px;
        border-bottom: 1px #DFDFDF dashed;
        text-align: center;
        z-index: 999;
    }

    .content {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 268px;
    }

    .check-item {
        display: inline-block;
        margin-left: 52px;
        margin-top: 20px;
        width: 100px;
    }

    .center-btn {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;

        border-radius:3px;
        width:150px;
        height:33px;
        background:#0099ff;
        font-size:15px;
        letter-spacing:-0.36px;
        text-align:center;
        position: relative;
        color: #FFF;
    }

    input[type=checkbox]:not(old){
        width   : 28px;
        margin  : 0;
        padding : 0;
        opacity : 0;
    }

    input[type=checkbox]:not(old) + label{
        display      : inline-block;
        margin-left  : -28px;
        padding-left : 45px;
        background   : url('../images/check_box_normal.png') no-repeat 0 0;
        line-height  : 26px;
    }

    input[type=checkbox]:not(old):checked + label{
        background   : url('../images/check_box_focus.png') no-repeat 0 0;
    }


    .label_box {
        min-height: 100px;
        min-width: 400px;

        .labels {
            margin-right: 20px;
            margin-bottom: 10px;
            display: inline-block;
        }
    }
}


