<div class="user-count-dialog" ng-controller="UserCountCtrl">
    <div class="label-title">
        请选中到课的学生后点击提交
    </div>

    <div class="content">
        <div class="check-item" ng-repeat="idx in labels track by $index">
            <input type="checkbox" ng-model="idx.value"  ng-attr-id="{{idx.userId}}" />
            <label for="{{idx.userId}}" >{{idx.name}}</label>
        </div>

        <div class="center-btn"  ng-click="dosubmit()">
            <span class="episode-button-status">提交</span>
        </div>
    </div>

</div>
